/* CSS Document */
@media (max-width: 1156px){
 	.content-site{
		width: 100%; margin: 0 auto;
	}
	.page-txt{
		
	}
}

@media (max-width: 1400px){
 
}

@media (min-width: 768px) and (max-width: 1024px){
	 
}

@media (min-width: 769px){
    .mobile-panel{
        display: none;
    }
}

@media (max-width: 767px){
	 html {
        overflow-x: hidden;
    }
    body{
        -webkit-transition: -webkit-transform 800ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
        transition: -webkit-transform 800ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
        transition: transform 800ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
        transition: transform 800ms cubic-bezier(0.68, -0.55, 0.265, 1.55), -webkit-transform 800ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    
    .top-panel{
        position: fixed;
        top: 0px; left: 0px;
        width: 100%;
        z-index: 250;
        background: $color-lightyellow;
    }

    .mobile-panel{
        .m-menu-button{
            position: fixed;
            top: 11px; left: 15px;
            z-index: 255;
            background: transparent;
            width: 50px;
            height: 40px;
            overflow: hidden;
            cursor: pointer;
            @include transform-mobile-link;
            .line{
                display: block;
                width: 75%;
                height: 2px;
                background: $color-brown;
                margin: 8px auto;
            }
        }

        .mobile-menu{
            position: absolute;
            top: 0; left: 0;
            bottom: 0;
            width: 80%;
            height: 100vh;
            overflow: hidden;
            padding-left: 0;
            -webkit-transition-delay: .1s;
                    transition-delay: .1s;
            background-color: $color-black;
            z-index: 254;
            @include transform-mobile-menu;
            @include transition-line;
            .dropbtn{
                display: none;
            }
            .m-menu-buttons{
                position: fixed;
                top: 10px; right: 15px;
                z-index: 255;
                background: transparent;
                width: 50px;
                height: 40px;
                overflow: hidden;
                cursor: pointer;
                @include transform-mobile-link;
                .line{
                    display: block;
                    width: 80%;
                    height: 2px;
                    background: $color-brown;
                    margin: 8px auto;
                    &:nth-child(1){
                        @include rotate-first-line;
                    }
                    &:nth-child(3){
                        @include rotate-last-line;
                    }
                    &:nth-child(2){
                        @include rotate-two-line;
                    }
                }
            }
            .close{
                left: 65%;
                opacity: 1;
                @include transform-mobile-link;
                .line{
                    &:nth-child(1){
                        @include rotate-first-line;
                    }
                    &:nth-child(3){
                        @include rotate-last-line;
                    }
                    &:nth-child(2){
                        @include rotate-two-line;
                    }
                }
            }
        }
        &.active-menu{
            .mobile-menu{
                -webkit-transform: translateX(0%);
                        transform: translateX(0%);
            }
            .m-menu-button{
                opacity: 0;
            }
            .close{
                opacity: 1;
            }
        }
        .mobile-content{
            padding: 30px 25px; padding-right: 0px;
            width: 80%;
            ul{
            	text-align: left;
            	>li{
            		margin: 15px 0px;
            		&:hover{
            			a{
        					color: $color-brown;
        				}
        				ul{
                        	display: block;
                        }
            		}
            		a{
            			color: $color-white;
            			text-transform: uppercase;
                        text-decoration: none;
                        display: block;
            		}
            		ul{
                    	display: none;
                    	li{
                			margin-left: 15px;
                			a{
                				font-size: 14px;
                				color: $color-white !important;
                			}
                			&:hover{
                				a{
                					color: $color-brown !important;;
                				}
                			}
                		}
                    }  
            	}
            }
        }
    }
    
    .news-list{
        .panel-list-news{
            .block-news{
                width: 100%;
                display: block;
                margin: 15px auto;
                .image-news{
                    width: 100%;
                }
                .title-news{
                    width: 100%;
                    padding: 15px;
                }
            }
        }
    }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 767px) and (orientation: portrait){
	h2{
		padding-bottom: 20px;
	}
	.btn-brown, 
	.btn-backet, 
	.btn-white{
		font-size: 16px;
	}

	.top-panel{
		.top-block{
			padding: 15px 0;
			text-align: right;
			.logo{
				width: 70%;
				img{
					width: 55%;
				}
			}
			.search-panel{
				display: none;
				margin-bottom: 20px;
				width: 70% !important;
				float: right;
			}
			.actions{
				width: 10%;
				.item{
					a{
						font-size: 0;
					}
				}
				.favorites{
					display: none;
				}
				.backet{
					.count{
						font-size: 20px;
					}
					a{
						.count-product-cart{
							top: -27px;
						}
					}
				}
			}
		}
	}

	.menu{
		display: none;
	}

	.slider{
		padding-top: 60px;
		.dots-slider{
			display: none !important;
		}
	}

	.panel-categories-block{
		padding-top: 0;
		overflow: hidden;
		padding-bottom: 20px;
		.categories-list{
			.carousel-store-categories{
				h2{
					font-size: 27px;
				}
				.slick-track{
					.category-item{
						margin: 0 20px;
						.inner-item{
							/* text-align: center;*/
							.image-category{
								img{
									/* width: 56%;*/
									/* margin: 0 auto;*/
								}
							}
							label{
								a{
									/* font-size: 19px;*/
								}
							}
							p{
								a{
									/* font-size: 16px;*/
								}
							}
						}
					}
				}
			}
			.arrows{
				display: none;
			}
			.btn-block{
				margin: 20px 0;
				.btn-white{
					padding: 15px 55px 15px 20px;
				}
			}
		}
	}

	.history{
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		        flex-direction: column;
		.history-block{
			.history-panel{
				width: auto;
				padding: 0 15px;
				text-align: center;
				h2{
					padding-bottom: 20px;
				}
				.history-name{
					text-align: left;
					padding: 15px 0;
				}
				.history-description{
					text-align: left;
					padding-bottom: 20px;
				}
			}
		}
		.reviews-block{
			.reviews-panel{
				width: auto;
				padding: 0 15px;
				text-align: center;
				h2{
					padding-bottom: 20px;
					text-align: center;
				}
				.reviews-item{
					-webkit-box-orient: vertical;
					-webkit-box-direction: normal;
					        flex-direction: column;
					-webkit-box-align: center;
					        align-items: center;
					.comment{
						span{
							text-align: left;
						}
						p{
							text-align: left;
							padding-top: 0;
						}
					}
				}
			}
		}
	}

	.advantages{
		padding: 15px 15px;
		.row{
			-webkit-box-orient: vertical;
			-webkit-box-direction: normal;
			        flex-direction: column;
			flex-wrap: nowrap;
			.col-sm-4{
				&:after{
					font-size: 100px;
					bottom: 9px;
				}
			}
		}
		.advantages-item{
		    padding: 40px 55px 40px 55px;
		    height: auto;
			.text-block{
				label{
					&:before{
						left: -45px;
					}
				}
			}
		}
	}

	.gallery{
		padding: 40px 15px;
		.prima-pelle{
			.prima-pelle-head{
				-webkit-box-orient: vertical;
				-webkit-box-direction: normal;
				        flex-direction: column;
				-webkit-box-align: center;
				        align-items: center;
				h2{
					padding-bottom: 20px;
				}
				.btn-white{
					margin-left: 0;
					margin-bottom: 5px;
					display: block;

				}
			}
			.prima-pelle-body{
				.prima-pelle-body__item{
					width: 100%;
					margin: 0;
					.prima-pelle-item-vertical{
						margin: 0 auto 30px;
					}
					.prima-pelle-item-horizontal-big{
						width: 270px;
						margin: 0 auto 30px;
					}
					.prima-pelle-item-horizontal{
						width: 270px;
						margin: 0 auto 30px;
					}
					.prima-pelle-item-rect{
						margin: 0 auto 30px;
					}
				}
			}
		}
	}

	.subscription{
		.subscription-block{
			-webkit-box-orient: vertical;
			-webkit-box-direction: normal;
			        flex-direction: column;
			.subscription-heading{
				width: 100%;
				margin-right: 0;
				text-align: center;
				padding: 0 15px;
				padding-bottom: 20px;
				p{
					text-align: left;
				}
			}
			.contact-content-block{
				.form-order-repair{
					.form-flex{
						-webkit-box-orient: vertical;
						-webkit-box-direction: normal;
						        flex-direction: column;
						padding: 0 15px;
						.ico-inputs{
							margin-right: 0;
							.ico-input{
								span{
								    -webkit-transform: translateY(-90%);
								            transform: translateY(-90%);
								}
							}
						}
					}
				}
				.checkbox{
					padding: 10px 15px;
				}
			}
		}
	}

	.footer-header-panel{
		display: none;
	}

	.footer-end-panel{
		.footer-end-panel-text{
			-webkit-box-orient: vertical;
			-webkit-box-direction: normal;
			        flex-direction: column;
			.dc56{
				-webkit-box-align: center;
				        align-items: center;
				-webkit-box-ordinal-group: 3;
				        order: 2;
				margin-top: 15px;
				a{
					text-align: center;
				}
			}
			.social{
				-webkit-box-orient: vertical;
				-webkit-box-direction: normal;
				        flex-direction: column;
				margin-top: 15px;
				p{
					margin-right: 0;
					padding-bottom: 10px;
				}
				ul{
					li{
						&:first-child{
							margin-left: 0;
						}
					}
				}
			}
		}
	}

	.footer{
		.footer-top{
			-webkit-box-orient: vertical;
			-webkit-box-direction: normal;
			        flex-direction: column;
			-webkit-box-align: center;
			        align-items: center;
			text-align: center;
			.mail{
				-webkit-box-pack: center;
				        justify-content: center;
				width: 90%;
				-webkit-box-align: start;
				        align-items: flex-start;
			}
		}
		.footer-nav{
			display: none;
		}
	}
	

	/* Каталог */
	.store-container{
		padding-top: 80px;
		.store-panel{
			-webkit-box-orient: vertical;
			-webkit-box-direction: normal;
			        flex-direction: column;
			.left-panel-store{
				width: 100%;
				.panel-filters{
					.left-panel-filter{
						/* display: flex;
						flex-wrap: wrap; */
						.filter-block-checkbox-list{
							width: 50%;
							.filter-block-header{
								&:before{
									width: 0;
								}
							}
							.filter-block-body{
								.checkbox{
									margin-bottom: 10px;
									input[type=checkbox]{
										&:checked + label:after {
											line-height: 16px;
										}
										&:checked + label {
											@include fontF($futura, 18px, 300, $color-black);
											border-bottom: none;
											color: $color-black;
										}
									}
									label{
										&:after{
											width: 20px;
											height: 20px;
											top: -1px;
										}
									}
								}
							}
						}
						.flex-btn{
							width: 100%;
						}
					}
				}
			}
			.right-panel-store{
				width: 100%;
				padding: 0 15px;
				.col-sm-4{
					.content-item{
						.product-image{
							text-align: center;
						}
						.product-title{
							height: auto;
							padding-bottom: 0;
						    margin: 10px 0;
						}
						.product-price-more{
							.product-link-more{
								.btn-backet{
									font-size: 16px;
								}
							}
						}
					}
				}
			}
		}
	}

	/* Карточка */
	.product-title{
		font-size: 24px;
		padding: 15px 0;
	}
	.no-padding{
		padding: 0 15px;
	}
	.product-panel{
		padding: 40px 0 15px;
		.thumbnails{
			.image-preview{
				margin-bottom: 5px;
			}
		}
		.product-data{
			.product-block-prices-shopcart{
				padding: 10px 0;
				margin: 10px 0;
				.block-shopcart{
					margin-top: 10px;
				}
			}
			.card-tab{
				label{
					margin-right: 10px;
				}
			}
		}
	}

	/* Корзина */
	.title-store{
		padding-bottom: 20px;
	}
	#cart-body{
		padding: 80px 15px 20px;
	}
    .product-container{
        padding: 5px 15px;
    }
    .store-container{
        .order-form{
            .left-panel-shopcart{
                width: 100%;
                .header-shopcart{
                    .cart-image{
                        -webkit-box-flex: 1;
                                flex: 1 1 30%;
                    }
                    .cart-title{
                        -webkit-box-flex: 1;
                                flex: 1 1 60%;
                    }
                }
                .body-shopcart{
                    .shopcart-line-item{
                        -webkit-box-align: start;
                                align-items: flex-start;
                        .cart-image{
                            -webkit-box-flex: 1;
                                    flex: 1 1 30%;
                        }
                        .cart-title{
                            -webkit-box-flex: 1;
                                    flex: 1 1 60%;
                            label{
                                display: block;
                                span{
                                    display: inline-block;
                                }
                            }
                        }
                    }
                }
            }

            .panel-order{
            	width: 100%;
            }
            .btn-brown{
            	width: 100%;
            }
        }
    }


	.page-txt{
		padding: 70px 15px 20px;
		h1{
			padding: 20px 0;
		}
		h2{
			font-size: 25px;
			padding: 0;
		}
		label{
			font-size: 18px;
		}
		p{
			font-size: 16px;
		}
		ul, ol{
			margin-left: 0 !important;
			li{
				list-style-position: inside;
				margin: 0;
				font-size: 16px;
			}
		}
		.flex-block{
			-webkit-box-orient: vertical;
			-webkit-box-direction: normal;
			        flex-direction: column;
			p{
				padding: 5px 0;
			}
		}
		.advantages{
			padding: 0;
			.advantages-item{
				.text-block{
					p{
						padding: 0;
					}
				}
			}
		}
		iframe {
			display: -webkit-box;
			display: flex;
			margin: 0 auto;
			width: 100%;
		}
	}

	.register{
		padding: 110px 20px 40px;
		.generate{
			-webkit-box-orient: vertical;
			-webkit-box-direction: normal;
			        flex-direction: column;
			.form-group{
				width: 100%;
				.btn-white{
				}
			}
		}
		.log-btn{
			width: 100%;
		}
		.forgot{
			width: 100%;
		}
	}

	.panel-news{
		text-align: center;
		.image-block{
			margin-bottom: 15px;
		}
		.block-news{
			h4{
				a{
					font-size: 18px;
				}
			}
		}
	}



}

@media only screen and (min-device-width: 320px) and (max-device-width: 767px) and (orientation: landscape){
	.mobile-panel{
        .mobile-menu{
            overflow: auto;
        }
    }
	h2{
		padding: 20px 0;
	}

	.btn-brown, 
	.btn-backet, 
	.btn-white{
		font-size: 16px;
	}

	.top-panel{
		.top-block{
			padding: 15px 0;
			text-align: right;
			.logo{
				width: 50%;
				img{
					width: 55%;
				}
			}
			.search-panel{
				display: none;
				margin-bottom: 20px;
				width: 70% !important;
				float: right;
			}
			.actions{
				width: 10%;
				.item{
					a{
						font-size: 0;
					}
				}
				.favorites{
					display: none;
				}
				.backet{
					.count{
						font-size: 20px;
					}
					a{
						.count-product-cart{
							top: -27px;
						}
					}
				}
			}
		}
	}

	.menu{
		display: none;
	}

	.slider{
		padding-top: 70px;
		.dots-slider{
			display: none !important;
		}
	}

	.panel-categories-block{
		padding-top: 0;
		overflow: hidden;
		.categories-list{
			.carousel-store-categories{
				h2{
					font-size: 27px;
				}
				.slick-track{
					.category-item{
						margin: 0 auto;
						.inner-item{
							width: 50%;
							margin: 0 auto;
							text-align: center;
							label{
								padding-top: 5px;
							}
						}
					}
				}
			}
			.arrows{
				display: none;
			}
			.btn-block{
				margin: 20px 0;
				.btn-white{
					padding: 15px 55px 15px 20px;
				}
			}
		}
	}

	.history{
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		        flex-direction: column;
		.history-block{
			.history-panel{
				width: auto;
				padding: 0 15px;
				text-align: center;
				h2{
					padding-bottom: 20px;
				}
				.history-name{
					text-align: left;
					padding: 15px 0;
				}
				.history-description{
					text-align: left;
					padding-bottom: 20px;
				}
			}
		}
		.reviews-block{
			.reviews-panel{
				width: auto;
				padding: 0 15px;
				text-align: center;
				h2{
					padding-bottom: 20px;
				}
				.reviews-item{
					display: block;
					-webkit-box-orient: vertical;
					-webkit-box-direction: normal;
					        flex-direction: column;
					-webkit-box-align: center;
					        align-items: center;
					.face{
						float: left;
					}
					.comment{
						label{
							text-align: left;
						}
						span{
							text-align: left;
						}
						p{
							text-align: left;
							padding-top: 0;
						}
					}
				}
				
			}
		}
	}

	.advantages{
		padding: 15px 15px;
		.row{
			-webkit-box-orient: vertical;
			-webkit-box-direction: normal;
			        flex-direction: column;
			flex-wrap: nowrap;
			.col-sm-4{
				width: 75%;
				height: 100%;
    			margin: 0px auto 15px;
				&:after{
					font-size: 100px;
					bottom: 10px;
				}
			}
		}
		.advantages-item{
		    padding: 40px 40px 40px 55px;
			width: 100%;
			height: auto;
			.text-block{
				label{
					&:before{
						left: -45px;
					}
				}
			}
		}
	}

	.gallery{
		padding: 40px 15px;
		.prima-pelle{
			.prima-pelle-head{
				-webkit-box-orient: vertical;
				-webkit-box-direction: normal;
				        flex-direction: column;
				-webkit-box-align: center;
				        align-items: center;
				h2{
					padding-bottom: 20px;
				}
				.btn-white{
					margin-left: 0;
					margin-bottom: 5px;
					display: block;

				}
			}
			.prima-pelle-body{
				.prima-pelle-body__item{
					width: 100%;
					margin: 0;
					.prima-pelle-item-vertical{
						margin: 0 auto 30px;
					}
					.prima-pelle-item-horizontal-big{
						width: 270px;
						margin: 0 auto 30px;
					}
					.prima-pelle-item-horizontal{
						width: 270px;
						margin: 0 auto 30px;
					}
					.prima-pelle-item-rect{
						margin: 0 auto 30px;
					}
				}
			}
		}
	}

	
	.subscription{
		.subscription-block{
			-webkit-box-orient: vertical;
			-webkit-box-direction: normal;
			        flex-direction: column;
			.subscription-heading{
				width: 100%;
				margin-right: 0;
				text-align: center;
				padding: 0 15px;
				padding-bottom: 20px;
				p{
					text-align: left;
				}
			}
			.contact-content-block{
				.form-order-repair{
					.form-flex{
						-webkit-box-orient: vertical;
						-webkit-box-direction: normal;
						        flex-direction: column;
						padding: 0 15px;
						.ico-inputs{
							margin-right: 0;
							.ico-input{
								span{
								    -webkit-transform: translateY(-90%);
								            transform: translateY(-90%);
								}
							}
						}
					}
				}
				.checkbox{
					padding: 15px;
				}
			}
		}
	}

	.footer-header-panel{
		display: none;
	}

	.footer-end-panel{
		.footer-end-panel-text{
			-webkit-box-orient: vertical;
			-webkit-box-direction: normal;
			        flex-direction: column;
			.dc56{
				-webkit-box-align: center;
				        align-items: center;
				-webkit-box-ordinal-group: 3;
				        order: 2;
				margin-top: 15px;
			}
			.social{
				-webkit-box-orient: vertical;
				-webkit-box-direction: normal;
				        flex-direction: column;
				margin-top: 15px;
				p{
					margin-right: 0;
					padding-bottom: 10px;
				}
				ul{
					li{
						&:first-child{
							margin-left: 0;
						}
					}
				}
			}
		}
	}

	.footer{
		.footer-top{
			-webkit-box-orient: vertical;
			-webkit-box-direction: normal;
			        flex-direction: column;
			-webkit-box-align: center;
			        align-items: center;
			text-align: center;
			.mail{
				-webkit-box-pack: center;
				        justify-content: center;
				width: 90%;
				-webkit-box-align: start;
				        align-items: flex-start;
			}
		}
		.footer-nav{
			display: none;
		}
	}
	
	

	/* Каталог */
	.title-store{
		padding: 20px 0;
	}
	.store-container{
		padding: 70px 0 20px;
		.store-panel{
			-webkit-box-orient: vertical;
			-webkit-box-direction: normal;
			        flex-direction: column;
			.left-panel-store{
				width: 100%;
				.panel-filters{
					padding: 25px 30px;
					.left-panel-filter{
						display: -webkit-box;
						display: flex;
						flex-wrap: wrap;
						.filter-block{
							-webkit-box-flex: 50%;
							        flex: 50%;
							&:first-child{
								-webkit-box-flex: 100%;
								        flex: 100%;
							}
						}
						.filter-block-checkbox-list{
							width: 50%;
							.filter-block-header{
								&:before{
									width: 0;
								}
							}
							.filter-block-body{
								.checkbox{
									margin-bottom: 10px;
									input[type=checkbox]{
										&:checked + label:after {
											line-height: 16px;
										}
										&:checked + label {
											@include fontF($futura, 18px, 300, $color-black);
											border-bottom: none;
											color: $color-black;
										}
									}
									label{
										&:after{
											width: 20px;
											height: 20px;
											top: -1px;
										}
									}
								}
							}
						}
						.flex-btn{
							width: 100%;
						}
					}
				}
			}
			.right-panel-store{
				width: 100%;
				padding: 0 15px;
				.col-sm-4{
					.content-item{
						width: 50%;
						margin: 0 auto 15px;
						.product-image{
							text-align: center;
						}
						.product-title{
							height: auto;
							padding-bottom: 0;
						    margin: 10px 0px 10px 0;
						}
						.product-price-more{
							.product-link-more{
								.btn-backet{
									font-size: 16px;
								}
							}
						}
					}
				}
			}
		}
	}

	/* Карточка */
	.product-title{
		font-size: 24px;
		padding: 15px 0;
	}
	.no-padding{
		padding: 0 15px;
	}
	.product-panel{
		padding: 60px 0 15px;
		.thumbnails{
			.image-preview{
				margin-bottom: 5px;
				img{
					width: 50%;
				}
			}
		}
		.product-data{
			.product-block-prices-shopcart{
				padding: 10px 0;
				margin: 10px 0;
				.block-shopcart{
					margin-top: 0px;
				}
			}
			.card-tab{
				label{
					margin-right: 10px;
				}
			}
		}
	}


	/* Корзина */
	#cart-body{
		padding: 80px 15px 20px;
	}
    .product-container{
        padding: 5px 15px;
    }
    .store-container{
        .order-form{
            .left-panel-shopcart{
                width: 100%;
                .header-shopcart{
                    .cart-image{
                        -webkit-box-flex: 1;
                                flex: 1 1 30%;
                    }
                    .cart-title{
                        -webkit-box-flex: 1;
                                flex: 1 1 60%;
                    }
                }
                .body-shopcart{
                    .shopcart-line-item{
                        -webkit-box-align: start;
                                align-items: flex-start;
                        .cart-image{
                            -webkit-box-flex: 1;
                                    flex: 1 1 30%;
                        }
                        .cart-title{
                            -webkit-box-flex: 1;
                                    flex: 1 1 60%;
                            label{
                                display: block;
                                span{
                                    display: inline-block;
                                }
                            }
                        }
                    }
                }
            }
        }
    }


	.page-txt{
		padding: 80px 15px 20px;
		h1{
			padding: 20px 0;
		}
		h2{
			font-size: 25px;
			padding: 0;
		}
		label{
			font-size: 18px;
		}
		p{
			font-size: 16px;
		}
		ul, ol{
			margin-left: 0 !important;
			li{
				list-style-position: inside;
				margin: 0;
				font-size: 16px;
			}
		}
		.flex-block{
			-webkit-box-orient: vertical;
			-webkit-box-direction: normal;
			        flex-direction: column;
			p{
				padding: 5px 0;
			}
		}
		.advantages{
			padding: 0;
			.advantages-item{
				.text-block{
					p{
						padding: 0;
					}
				}
			}
		}
		iframe {
			display: -webkit-box;
			display: flex;
			margin: 0 auto;
			width: 100%;
		}
	}


	.register{
		padding: 110px 20px 40px;
		.log-btn{
			width: 100%;
		}
	}


	.panel-news{
		text-align: center;
		.image-block{
			margin-bottom: 15px;
		}
		.block-news{
			h4{
				a{
					font-size: 18px;
				}
			}
		}
		.desc-block{
			margin: 0 auto;
			width: 75%;
		}
	}
}

@media only screen and (min-device-width: 768px)  and (max-device-width: 1024px) and (orientation: landscape){
	.top-panel{
		.top-block{
			padding: 30px 15px;
			-webkit-box-align: center;
			        align-items: center;
			.mobile-panel{
				display: none;
			}
			.logo{
				width: auto;
				text-align: center;
				margin-bottom: 20px;
			}
			.search-panel{
				
			}
			.actions{
				width: auto;
				-webkit-box-pack: center;
				        justify-content: center;
			}
		}
	}
	

	.menu{
		.menu-block{
			padding: 0 15px;
			ul{
				li{
					&:after{
						content: '';
					}
					ul{
						li{
							margin: 5px 0;
							a{
								margin-left: 15px;
							}
						}
					}
				}
			}
		}
	}

	.slider{
		.slider-text{
			h1{
				font-size: 30px;
			}
			.button{
				margin-top: 15px;
				.btn-brown{
					padding: 10px 20px;
				}
			}
		}
	}

	.panel-categories-block{
		.categories-list{
			.carousel-store-categories {
				.slick-track{
					.category-item{
						margin: 0 10px 20px;
						.inner-item{
							display: -webkit-box;
							display: flex;
							-webkit-box-orient: vertical;
							-webkit-box-direction: normal;
							        flex-direction: column;
							-webkit-box-align: center;
							        align-items: center;
							.image-category{
								display: -webkit-box;
								display: flex;
								-webkit-box-pack: center;
								        justify-content: center;
							}
						}
					}
				}
			}
			.arrows{
				display: none;
			}
		}
	}
	
	.advantages{
		padding: 0px 15px;
		.advantages-item{
		    padding: 15px 60px;
			.text-block{
				label{
					&:before{
						left: -45px;
					}
				}
			}
		} 
	}

	.history{
		.history-block{
			.history-panel{
				width: auto;
				padding: 15px;
			}
		}
		.reviews-block{
			.reviews-panel{
				width: auto;
				padding: 15px;
			}
		}
	}

	.gallery{
		padding: 40px 15px;
		.prima-pelle{
			.prima-pelle-body{
				.prima-pelle-body__item{
					.prima-pelle-item-vertical, 
					.prima-pelle-item-rect{
						width: 250px;
					}
					.prima-pelle-item-horizontal-big, 
					.prima-pelle-item-horizontal{
						width: 434px;
					}
				}
			}
		}
	}

	.subscription{
		padding: 40px 15px;
	}

	.footer-header-panel{
		.footer-header-panel-flex{
			padding: 35px 15px;
		}
	}

	.footer-end-panel{
		.footer-end-panel-text{
			padding: 25px 15px;
		}
		.dc56{
			width: 25%;
		}
	}

	.footer{
		.footer-top{
			-webkit-box-orient: vertical;
			-webkit-box-direction: normal;
			        flex-direction: column;
			-webkit-box-align: center;
			        align-items: center;
			text-align: center;
			.mail{
				-webkit-box-pack: center;
				        justify-content: center;
				width: 90%;
				-webkit-box-align: start;
				        align-items: flex-start;
			}
		}
		.footer-nav{
			padding: 35px 15px;
		}
	}

	/* Каталог */
	.breadcrumbs{
		.active{
			padding: 5px 0;
		}
	}

	.title-store{
		padding-bottom: 20px;
	}
	.store-container{
		padding: 0 15px;
		.store-panel{
			.left-panel-store{
				width: 22%;
				margin-right: 3%;
			}
			.right-panel-store{
				.col-sm-4{
					.content-item{
						margin-bottom: 30px;
						.product-title{
							margin: 10px 10px 10px 0;
						}
					}
				}
			}
		}
	}

	/* Карточка */
	.product-panel{
		.thumbnails{
			.image-preview{
				margin-bottom: 5px;
			}
		}
		.product-data{
			.product-block-prices-shopcart{
				padding: 10px 0;
				margin: 10px 0;
				display: -webkit-box;
				display: flex;
			    -webkit-box-pack: justify;
			            justify-content: space-between;
			    -webkit-box-align: center;
			            align-items: center;
				.block-shopcart{
					margin-top: 0px;
				}
			}
			.card-tab{
				label{
					margin-right: 10px;
				}
			}
		}
	}


	/* Корзина */
    #cart-body{
		padding: 40px 15px;
    }
    .store-container{
        .order-form{
            .left-panel-shopcart{
                width: 100%;
            }
        }
    }


	.page-txt{
		padding: 0 15px 40px;
		h1{
		}
		h2{
			font-size: 25px;
			padding: 0;
		}
		label{
			font-size: 18px;
		}
		p{
			font-size: 16px;
		}
		ul, ol{
			margin-left: 0 !important;
			li{
				list-style-position: inside;
				margin: 0;
				font-size: 16px;
			}
		}
		iframe {
			display: -webkit-box;
			display: flex;
			margin: 0 auto;
			width: 100%;
		}
		.flex-block{
			p{
				padding: 5px 0;
			}
		}
		.advantages{
			padding: 0;
			.advantages-item{
				height: 310px;
				.text-block{
					p{
						padding: 0;
					}
				}
			}
		}
	}
}

@media only screen and (min-device-width: 768px)  and (max-device-width: 1024px) and (orientation: portrait){
	.top-panel{
		.top-block{
			padding: 15px 15px 0;
			flex-wrap: wrap;
			-webkit-box-align: center;
			        align-items: center;
			.mobile-panel{
				display: none;
			}
			.logo{
				width: 100% !important;
				text-align: center;
				-webkit-box-ordinal-group: 3;
				        order: 2;
				margin: 20px 0;
			}
			.search-panel{
				width: 50% !important;
				text-align: center;
			}
			.actions{
				width: 50% !important;
				-webkit-box-pack: center;
				        justify-content: center;
			}
		}
	}
	

	.menu{
		.menu-block{
			padding: 0 15px;
			ul{
				li{
					&:after{
						content: '';
					}
					>a{
						font-size: 12px;
					}
					ul{
						width: 200px;
						li{
							margin: 5px 0;
							a{
								margin-left: 15px;
							}
						}
					}
				}
			}
		}
	}

	.slider{
		.slider-text{
			h1{
				font-size: 30px;
			}
			.button{
				margin-top: 15px;
				.btn-brown{
					padding: 10px 20px;
				}
			}
		}
	}

	.panel-categories-block{
		.categories-list{
			.carousel-store-categories {
				.slick-track{
					.category-item{
						width: 172px !important;
						margin: 0 10px 20px;
						.inner-item{
							display: -webkit-box;
							display: flex;
							-webkit-box-orient: vertical;
							-webkit-box-direction: normal;
							        flex-direction: column;
							-webkit-box-align: center;
							        align-items: center;
							.image-category{
								display: -webkit-box;
								display: flex;
								-webkit-box-pack: center;
								        justify-content: center;
							}
						}
					}
				}
			}
			.arrows{
				display: none;
			}
		}
	}
	
	.advantages{
		padding: 0px 15px;
		.row{
			.col-sm-4{
				width: 50%;
				&:after{
					font-size: 100px;
					bottom: 8px;
				}
			}
		}
		.advantages-item{
		    padding: 40px 40px 40px 55px;
			.text-block{
				label{
					&:before{
						left: -45px;
					}
				}
			}
		}
	}

	.gallery{
		padding: 40px 15px;
		.prima-pelle{
			.prima-pelle-body{
				-webkit-box-pack: center;
				        justify-content: center;
				.prima-pelle-body__item{
					margin-right: 0;
					&:nth-child(1){
						margin-right: 30px;
					}
					&:nth-child(5){
						margin-right: 30px;
					}
				}
			}
		}
	}

	.history{
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		        flex-direction: column;
		.history-block{
			.history-panel{
				width: auto;
				padding: 0 15px;
				h2{
					padding-bottom: 20px;
				}
				.history-img{
					img{
						width: 100%;
					}
				}
				.history-name{
					padding: 15px 0;
				}
				.history-description{
					padding: 0 0 20px;
				}
			}
		}
		.reviews-block{
			.reviews-panel{
				width: auto;
				padding: 0 15px;
				h2{
					padding-bottom: 20px;
				}
				.reviews-item{
					display: block;
					.face{
						float: left;
					}
				}
			}
		}
	}
	.subscription{
		.subscription-block{
			-webkit-box-orient: vertical;
			-webkit-box-direction: normal;
			        flex-direction: column;
			.subscription-heading{
				width: 100%;
				margin-right: 0;
				text-align: center;
				padding: 0 15px;
				padding-bottom: 20px;
				h2{
					text-align: center;
				}
			}
			.contact-content-block{
				.form-order-repair{
					.form-flex{
						-webkit-box-orient: vertical;
						-webkit-box-direction: normal;
						        flex-direction: column;
						-webkit-box-align: center;
						        align-items: center;
						.ico-inputs{
							margin-right: 0;
							width: 50%;
							margin-bottom: 15px;
						}
					}
				}
				.checkbox{
					-webkit-box-pack: center;
					        justify-content: center;
					label{
						padding-left: 30px;
						text-align: center;
						&:after{
							left: -20px;
						}
					}

				}
			}
		}
	}

	.footer-header-panel{
		.footer-header-panel-flex{
			padding: 35px 15px;
		}
	}

	.footer-end-panel{
		.footer-end-panel-text{
			-webkit-box-orient: vertical;
			-webkit-box-direction: normal;
			        flex-direction: column;
			.dc56{
				-webkit-box-align: center;
				        align-items: center;
				-webkit-box-ordinal-group: 3;
				        order: 2;
				margin-top: 15px;
			}
			.social{
				-webkit-box-orient: vertical;
				-webkit-box-direction: normal;
				        flex-direction: column;
				margin-top: 15px;
				p{
					margin-right: 0;
					padding-bottom: 10px;
				}
				ul{
					li{
						&:first-child{
							margin-left: 0;
						}
					}
				}
			}
		}
	}

	.footer{
		.footer-top{
			-webkit-box-orient: vertical;
			-webkit-box-direction: normal;
			        flex-direction: column;
			-webkit-box-align: center;
			        align-items: center;
			text-align: center;
			.mail{
				-webkit-box-pack: center;
				        justify-content: center;
				width: 90%;
				-webkit-box-align: start;
				        align-items: flex-start;
			}
		}
		.footer-nav{
			flex-wrap: wrap;
			padding: 35px 15px;
			.footer-nav-item{
				-webkit-box-flex: 1;
				        flex: 1 1 30%;
				margin-bottom: 15px;
				p{
					margin-bottom: 0;
				}
			}
		}
	}

	/* Каталог */
	.breadcrumbs{
		.active{
			padding: 5px 0;
		}
	}

	.title-store{
		padding-bottom: 20px;
	}
	.store-container{
		padding: 0 15px 20px;
		.store-panel{
			-webkit-box-orient: vertical;
			-webkit-box-direction: normal;
			        flex-direction: column;
			.left-panel-store{
				width: 100%;
				.panel-filters{
					.left-panel-filter{
						display: -webkit-box;
						display: flex;
						flex-wrap: wrap;
						.filter-block-checkbox-list{
							width: 33%;
							.filter-block-header{
								&:before{
									width: 0;
								}
							}
							.filter-block-body{
								.checkbox{
									margin-bottom: 10px;
									input[type=checkbox]{
										&:checked + label:after {
											line-height: 16px;
										}
									}
									label{
										&:after{
											width: 20px;
											height: 20px;
											top: -1px;
										}
									}
								}
							}
						}
						.flex-btn{
							width: 50%;
						}
					}
				}
			}
			.right-panel-store{
				width: 100%;
				padding: 0 15px;
				.col-sm-4{
					.content-item{
						.product-title{
							height: 54px;
							margin: 10px 10px 10px 0;
						}
						.product-price-more{
							-webkit-box-orient: vertical;
							-webkit-box-direction: normal;
							        flex-direction: column;
							-webkit-box-align: start;
							        align-items: flex-start;
							.product-price{
								margin-bottom: 10px;
							}
						}
					}
				}
			}
		}
	}

	/* Карточка */
	.product-title{
		font-size: 25px;
		padding-bottom: 5px;
	}
	.product-panel{
		.thumbnails{
			.image-preview{
				margin-bottom: 5px;
			}
		}
		.product-data{
			.product-block-prices-shopcart{
				padding: 10px 0;
				margin: 10px 0;
				display: -webkit-box;
				display: flex;
			    -webkit-box-pack: justify;
			            justify-content: space-between;
			    -webkit-box-align: center;
			            align-items: center;
				.block-shopcart{
					margin-top: 0px;
				}
			}
			.card-tab{
				label{
					margin-right: 10px;
				}
			}
		}
	}


	/* Корзина */
    .product-container{
        padding: 0px 15px;
    }
    #cart-body{
		padding: 0 15px;
    }
    .store-container{
        .order-form{
            .left-panel-shopcart{
                width: 100%;
            }
        }
    }


	.page-txt{
		padding: 0 15px 40px;
		h1{
			
		}
		h2{
			font-size: 25px;
			padding: 0;
		}
		label{
			font-size: 18px;
		}
		p{
			font-size: 16px;
		}
		ul, ol{
			margin-left: 0 !important;
			li{
				list-style-position: inside;
				margin: 0;
				font-size: 16px;
			}
		}
		iframe {
			display: -webkit-box;
			display: flex;
			margin: 0 auto;
			width: 100%;
		}
		.flex-block{
			p{
				padding: 5px 0;
			}
		}
		.advantages{
			padding: 0;
			.advantages-item{
				height: 275px;
				.text-block{
					p{
						padding: 0;
					}
				}
			}
		}
	}
}