*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
.alert.alert-success {
    border-color: green;
}

.alert {
	position: fixed;
	right: 35px;
	top: 150px;
	z-index: 1000;
	max-width: 360px;
    background: #f8f8f8;
    border: 0;
    padding: 15px 30px;
    color: #323232;
    font-size: 16px;
    font-family: Geometria;
    margin: 0;
    background: #fff;
    border: 1px solid #ececec;
    -webkit-box-shadow: 0 8px 38px rgba(0,0,0,0.05);
    -moz-box-shadow: 0 8px 38px rgba(0,0,0,0.05);
    -ms-box-shadow: 0 8px 38px rgba(0,0,0,0.05);
    -o-box-shadow: 0 8px 38px rgba(0,0,0,0.05);
    box-shadow: 0 8px 38px rgba(0,0,0,0.05);
}

a{
	outline: none;
}

.breadcrumb{
	margin: 0;
	padding: 30px 15px 30px;
}
.breadcrumbs {
	list-style: none;
	// padding-bottom: 0;
	.active{
		@include fontF($gilroy, 15px, 300, $color-black);
	}
	li{
		a{
			@include fontF($gilroy, 15px, 300, $color-black);
			border-bottom: 1px solid $color-black;
			&:hover{
				color: $color-black;
				border-bottom: 1px solid transparent;
			}
		}
	}
	li+li:before {
	    content: "-";
	    @include fontF($gilroy, 15px, 800, $color-black);
	}
}
.btn{
	display: inline-block;
	border: none;
	text-align: center;
	&:focus, &:active{
		outline: none !important;
		color: $color-white;
	}
}

.btn-brown{
	padding: 10px 40px;
	border-radius: 3px;
	box-shadow: 7.071px 7.071px 0px 0px rgba(110, 62, 49, 0.15);
	background-color: $color-brown;
	@include fontF($futura-demi, 18px, 800, $color-white);
	@include delay;
	&:hover{
		background-color: $color-darkbrown;
		color: $color-white;
		@include delay;
	}
}

.btn-white{
	padding: 10px 30px;
	border-radius: 3px;
	background-color: transparent;
	border: 1px solid $color-border;
	@include fontF($futura-demi, 18px, 800, $color-black);
	@include delay;
    a{
        @include fontF($futura-demi, 18px, 800, $color-black);
    }
	&:hover{
		border-color: $color-brown;
		color: $color-black;
		background-color: transparent;
		@include delay;
	}
	&:focus, &:active{
		color: $color-black;
		border-color: $color-brown;
		background-color: transparent;
	}
}

.btn-catalog{
	padding: 15px 35px;
	border-radius: 3px;
	background-color: $color-brown;
	@include delay;
	@include fontF($futura-demi, 18px, 800, $color-white);
	&:hover{
		background-color: $color-darkbrown;
		color: $color-white;
		@include delay;
	}
}

.btn-backet{
	position: relative;
	padding: 10px 20px 10px 50px;
	border-radius: 3px;
	background-color: $color-brown;
	@include delay;
	@include fontF($futura-book, 18px, 400, $color-white);
	&:hover{
		background-color: $color-darkbrown;
		color: $color-white;
		@include delay;
	}
	&:before{
		content: '\e904';
	    display: inline-block;
	    position: absolute;
	    left: 15px;
	    @include fontF($icomoon, 21px, normal, $color-white);
	}
}

.btn-review{
	padding: 14px 20px 13px 20px;
	border-radius: 3px;
	background-color: $color-brown;
	color: $color-white;
	@include delay;
	@include fontF($futura-book, 18px, 400, $color-white);
	&:hover{
		background-color: $color-darkbrown;
		color: $color-white;
		@include delay;
	}
}

.btn-like{
	margin-left: 25px;
	position: relative;
	padding: 9px 20px 9px 50px;
	border-radius: 3px;
	background-color: transparent;
	border: 1px solid $color-black;
	@include delay;
	@include fontF($futura-book, 18px, 400, $color-black);
	&:hover{
		border-color: $color-brown;
		color: $color-black;
		@include delay;
	}
	&:hover span{
		color: $color-brown;
		@include delay;
	}
	span{
		position: absolute;
		left: 15px;
		@include fontF($futura-book, 24px, 400, $color-darkblue);
		@include delay;
	}
}
h1{
	padding: 40px 0;
	text-align: center;
	@include fontF($futura-demi, 30px, 800, $color-black);
}
h2{
	padding: 40px 0;
	text-align: center;
	@include fontF($futura-demi, 27px, 800, $color-black);
}

.btn-chat{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    right: 30px;
    bottom: 10px;
    z-index: 255;
    padding: 5px 30px;
	border-radius: 3px;
	box-shadow: 7.071px 7.071px 0px 0px rgba(110, 62, 49, 0.15);
	background-color: $color-brown;
	@include fontF($futura-demi, 18px, 800, $color-white);
	@include delay;
	&:hover{
        cursor: pointer;
		background-color: $color-darkbrown;
		color: $color-white;
		@include delay;
	}
    span, label{
        cursor: pointer;
        display: block;
        margin: 5px;
    }
}

.no-padding{
    padding: 0px;
}

.no-margin{
    margin: 0px;
}


/* ----------------- */
.top-panel{
	display: flex;
	.top-block{
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 30px 0;
		.search-panel{
			// width: calc(( 100% - 80px) / 3 );
			width: 34%;
			.catalog-filter{
				width: 100%;
				.search-group{
					display: flex;
					input{
						// width: 340px;
						width: 100%;
						height: 50px;
						padding: 15px 15px 15px 0;
						font-size: 16px;
						border: none;
						outline: none;
						border-radius: none;
						box-shadow: none;
						&::-webkit-input-placeholder{
							border-bottom: 1px solid $color-lightgray;
							@include fontF($futura-book, 18px, 400, $color-black);
						}
						&:-ms-input-placeholder{
							border-bottom: 1px solid $color-lightgray;
							@include fontF($futura-book, 18px, 400, $color-black);
						}
						&::-ms-input-placeholder{
							border-bottom: 1px solid $color-lightgray;
							@include fontF($futura-book, 18px, 400, $color-black);
						}
						&::placeholder{
							border-bottom: 1px solid $color-lightgray;
							@include fontF($futura-book, 18px, 400, $color-black);
						}
					}
					.btn-search{
						padding-left: 0;
						font-size: 20px;
						border-radius: none;
						background: transparent;
						&:active{
							box-shadow: none;
						}
						.icon--1{
							color: $color-logo;
						}
					}
				}
			}
		}
		.logo{
			// width: calc(( 100% - 80px ) / 3 );
			text-align: center;
			width: 33%;
		}
		.actions{
			// width: calc(( 100% - 80px ) / 3 );
			width: 33%;
			display: flex;
			align-items: center;
			justify-content: flex-end;
			a{
				// padding-left: 10px;
				// border-bottom: 1px solid transparent;
				@include fontF($futura-book, 18px, 400, $color-black);
				@include delay;
				&:hover{
					color: $color-brown;
					@include delay;
				}
			}
			span{
				z-index: 10;
				padding-right: 10px;
				@include fontF($futura-book, 21px, 400, $color-darkblue);
			}
			.favorites{
				padding: 0 20px 0 10px;
				.icon--2{
					position: relative;
					top: 2px;
				}
			}
			.login{
				padding: 0 20px 0 10px;
				display: flex;
				align-items: flex-end;
				.key{
				    position: relative;
    				top: 2px;
					font-size: 28px;
				}
			}
			.backet{
				position: relative;
				.count{
					font-size: 25px;
					position: relative;
    				top: 5px;
				}
				a{
					position: relative;
					.count{
						padding-right: 10px;
					}
					.count-product-cart{
						text-align: center;
						position: absolute;
						top: -15px;
						left: -8px;
						width: 20px;
						height: 20px;
						display: flex;
						justify-content: center;
						align-items: center;
						font-size: 12px;
						border-radius: 50px;
						border: none;
						background-color: $color-brown;
						color: $color-white;
					}
				}
			}
		}
	}
}

/* Меню */
.menu{
	display: flex;
	.menu-block{
		border-top: 1px solid $color-lightgray;
		border-bottom: 1px solid $color-lightgray;
		ul{
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 0;
			margin: 0;
			list-style: none;
			li{
				position: relative;
				padding: 20px 0;
				flex: 1 1 auto;
				text-align: center;
				cursor: pointer;
				&:after{
					content: '\2022';
					left: 100%;
					@include vertical-middle-pos;
				}
				&:hover{
					ul{
						display: block !important;
						z-index: 20;
						@include delay;
					}
					>a{
						color: $color-darkblue;
						border-top: 2px solid $color-darkblue;
						@include delay;
					}
				}
				>a{
					padding: 20px 0;
					text-transform: uppercase;
					border-top: 2px solid transparent;
					@include delay;
					@include fontF($futura-medium, 15px, 600, $color-black);
				}

				ul{
					display: none !important;
					display: flex;
					flex-direction: column;
					align-items: flex-start;
					position: absolute;
					top: 100%;
					right: 0;
					width: 270px;
					padding: 19px 0 !important;
					background-color: $color-lightyellow;
					z-index: 8;
					@include delay;
					li{
						width: 100%;
						padding: 0;
						margin: 20px 0;
						text-align: left;
						border-left: 3px solid transparent;
						@include delay;
						&:after{
							content: '';
						}
						&:hover{
							border-left: 3px solid $color-darkblue;
							@include delay;
							a{
								color: $color-black;
								border-top: 2px solid transparent;
								text-decoration: none;
							}
						}
						a{
							display: block;
							padding: 0;
							margin-left: 40px;
							text-decoration: underline;
							border-top: 2px solid transparent;
						}
					}
				}
			}
			.item_1{
				text-align: left;
				ul{
					left: 0;
				}
			}
			.submenuItem{
				&:last-child{
					text-align: right;
					&:after{
						content: '';
					}
				}
			}
		}
	}
}

/* Слайдер */
.slick-dotted.slick-slider{
	margin-bottom: 0;
}
.slider{
	.dots-slider{
		display: flex;
	    justify-content: center;
	    width: 50%;
	    position: absolute;
	    left: 50%;
	    bottom: 25px;
	    transform: translateX(-50%);
	    li{
    	    margin-right: 10px;
    	    cursor: pointer;
		    button{
			    line-height: 0px;
			    font-size: 0px;
			    height: 2px;
		    	width: 25px;
			    padding: 0;
			    margin: 4px;
			    position: relative;
			    bottom: 5px;
			    background-color: $color-dots;
			    border: none;
			    outline: none;
			    &:hover{
			    	background-color: $color-brown;
			    }
		    }
	    }
	    .slick-active{
			button{
				background-color: $color-brown;
			}
	    }
	}
}

/* Категории */
.panel-categories-block{
	position: relative;
	padding-bottom: 40px;
	.category-item{
		outline: none;
		margin-right: 25px;
		.inner-item{
			position: relative;
			.image-category{
				position: relative;
				overflow: hidden;
				img{
					width: 100%;
				}
				&:hover{
					.item-hover{
						cursor: pointer;
						@include transform-item;
					}
					img{
						opacity: .3;
					}
				}
				.item-hover{
					padding: 70px 40px;
					width: 100%;
					height: 100%;
					position: absolute;
					top: 0;
					left: 0;
					bottom: 0px;
				    @include transform-item-hover;
					p{
						@include fontF($gilroy, 16px, 300, $color-black);
					}
				}
				.item-hover-yellow{
					background-color: rgba(251, 248, 239, .9);
				}
			}
			label{
				padding-top: 25px;
				display: block;
				a{
					@include fontF($futura-demi, 21px, 800, $color-black);
				}
			}
			p{
				a{
					border-bottom: 1px solid transparent;
					@include fontF($futura, 18px, 300, $color-black);
					&:hover{
						border-bottom: 1px solid $color-black;
					}
				}
			}
		}
	}
	.arrows{
		display: flex;
	    justify-content: space-between;
	    position: absolute;
	    width: 67%;
    	top: 48%;
	    left: 50%;
	    transform: translate(-50%, -50%);
	    cursor: pointer;
	    span{
	    	@include fontF($icomoon, 20px, normal, $color-arrowblue);
	    	@include delay;
	    	&:hover{
		    	color: $color-brown;
		    	@include delay;
		    }
	    }
	    .prev-store-arrow{
	    	transform: rotate(180deg);
	    }
	}
}


/* Преимущества */
.advantages{
	padding-bottom: 10px;
	position: relative;
	counter-reset: section; 
	.row{
		display: flex;
		flex-wrap: wrap;
		.col-sm-4{
			display: flex;
			&:after{
				position: absolute;
				bottom: -1px;
				right: 15px;
				@include fontF($palatino, 160px, 300, $color-advantageblue);
				counter-increment: section;                 /* Инкрементирует счетчик*/
	  			content: counter(section);
			}
			&:nth-child(odd){
				&:after{
					color: $color-advantageyell;
				}
				.advantages-item{
					background-color: $color-lightyellow;
				}
			}
		}
	}
	.advantages-item{
		display: flex;
		width: 370px;
		height: 335px;
		padding: 40px 85px;
		margin-bottom: 30px;
		justify-content: center;
		background-color: $color-lightblue;
		.text-block{
			display: flex;
			flex-direction: column;
			position: relative;
			label{
				position: relative;
				display: block;
				@include fontF($futura-medium, 20px, 600, $color-black);
				&:before{
					position: absolute;
					top: -3px;
					left: -60px;
				}
			}
			.one-advantages{
				&:before{
					content: url(..//images/advantage1.png);
				}
			}
			.two-advantages{
				&:before{
					content: url(..//images/advantage2.png);
				}
			}
			.three-advantages{
				&:before{
					content: url(..//images/advantage3.png);
				}
			}
			.four-advantages{
				&:before{
					content: url(..//images/advantage4.png);
				}
			}
			.five-advantages{
				&:before{
					content: url(..//images/advantage5.png);
				}
			}
			.six-advantages{
				&:before{
					content: url(..//images/advantage6.png);
				}
			}
			p{
				@include fontF($gilroy, 16px, 300, $color-black);
				text-decoration: underline;
			}
		}
	}
}


/* История */
.history{
	display: flex;
	height: auto;
	.flex-item{
		flex: 1 1 50%;
	}
	.history-block{
		padding-bottom: 40px;
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		background-color: $color-lightblue;
		.history-panel{
			align-items: center;
			width: 585px;
			padding-right: 40px;
			h2{
		    	text-align: left;
		    }
		    .history-img{
		    	position: relative;
		    	overflow: hidden;
		    	img{
		    		max-width: 110%;
		    	}
		    }
		    .history-name{
		    	padding: 30px 0;
		    	label{
		    		display: block;
		    		@include fontF($futura-demi, 20px, 800, $color-black);
		    	}
		    	span{
		    		margin: 0;
		    		@include fontF($futura, 18px, 300, $color-historyspan);
		    	}
		    }
		    .history-description{
		    	padding: 0px 0px 40px 0;
		    	p{
		    		line-height: 1.4;
		    		@include fontF($futura, 16px, 300, $color-black);
		    	}
		    }
		}
	}
	.reviews-block{
		padding-bottom: 40px;
		display: flex;
		flex-direction: column;
		background-color: $color-lightyellow;
        a{
            @include fontF($futura-demi, 16px, 800, $color-black);
        }
		.reviews-panel{
			align-items: center;
			width: 585px;
			padding-left: 40px;
			h2{
		    	text-align: left;
		    }
		    .reviews-item{
		    	display: flex;
		    	background-color: $color-darkyellow;
		    	padding: 25px 25px 35px;
		    	margin-bottom: 30px;
		    	.face{
		    		width: 15%;
		    		margin-right: 10px;
                    img{
                        border-radius: 50%;
                    }
		    	}
		    	.comment{
		    		flex: 1;
		    		display: flex;
		    		flex-direction: column;
		    		label{
		    			@include fontF($futura-demi, 20px, 800, $color-black);
		    		}
		    		span{
		    			margin: 0;
		    			@include fontF($futura, 12px, 300, $color-historyspan);
		    		}
		    		.comment-text{
		    			padding: 20px 0 0;
		    			line-height: 1.4;
		    			@include fontF($futura, 18px, 300, $color-black);
		    		}
		    	}
		    }
		}
	}
}

/* Галерея */
.gallery{
	padding: 40px 0;
	background-color: $color-lightblue;
	.prima-pelle{
		.prima-pelle-head{
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-bottom: 30px;
			h2{
				padding: 0;
			}
			.btn-white{
				margin-left: 20px;
			}
		}
		.prima-pelle-body{
			display: flex;
			flex-wrap: wrap;
			overflow: hidden;
			.prima-pelle-body__item{
				margin-right: 30px;
				margin-bottom: 30px;
				&:nth-child(3n){
					margin-right: 0;
				}
				&:hover{
					.prima-pelle-content{
						background-color: rgba(243, 241, 235, .9);
						@include delay;
					}
				}
				.prima-pelle-content{
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					padding: 30px;
					@include delay;
					&:hover{
						cursor: pointer;
						.prima-pelle-desc, a{
							display: block;
							@include delay;
						}
						.main-title{
							color: $color-black;
							@include delay;
						}
					}

					.main-title{
						text-decoration: underline;
						margin-bottom: 25px;						
						@include fontF($futura-demi, 20px, 800, $color-white);
						@include delay;
					}
					.prima-pelle-desc{
						display: none;
						@include fontF($gilroy, 15px, 300, $color-black);
						@include delay;
					}
					a{
						border-bottom: 1px solid;
						// display: inline;
						position: absolute;
						bottom: 20px;
						left: 30px;
						@include fontF($gilroy, 15px, 300, $color-black);
						@include delay;
						display: none;
						&:hover{
							border-bottom: 1px solid transparent;
						}
					}
				}
				.prima-pelle-item-vertical{
					position: relative;
					width: 270px;
					height: 345px;
				}
				.prima-pelle-item-horizontal-big{
					position: relative;
					width: 570px;
					height: 345px;
				}
				.prima-pelle-item-horizontal{
					position: relative;
					width: 569px;
					height: 225px;
				}
				.prima-pelle-item-rect{
					position: relative;
					width: 270px;
					height: 225px;
				}
			}
		}
	}
}

.gallery-page{
    margin: 50px auto;
    .gallery-page_item{
        .media-object{
            margin: 15px 0px;
            display: block;
        }
        .item{
        	margin: auto;
        	position: relative;
        	&:hover{
        		transition: all 200ms linear;
        	}
        	&:hover:before{
        		opacity: 1;
        	}
        	&::before{
        		pointer-events: none;
        		content: "";
        		position: absolute;
        		top: 0;
        		left: 0;
        		right: 0;
        		bottom: 0;
        		background: rgba(255, 255, 255, 0.7);
        		opacity: 0;
        		-webkit-transition: all 200ms linear;
        		-moz-transition: all 200ms linear;
        		-o-transition: all 200ms linear;
        		transition: all 200ms linear;
        	}
        	.item-content{
        		position: absolute;
        		top: 0;
        		left: 0;
        		right: 0;
        		bottom: 0;
        		border: 1px solid #000000;
        		margin: 10px;
        		opacity: 0;
        		-webkit-transition: all 200ms linear;
        		-moz-transition: all 200ms linear;
        		-o-transition: all 200ms linear;
        		transition: all 200ms linear;
        		&:hover{
        			opacity: 1;
        		}
        		.name{
        			width: 100%;
        			display: inline-flex;
        			justify-content: center;
        			align-items: center;
        			vertical-align: middle;
        			height: 180px;
        			padding: 0 20px;
        			text-align: center;
        			h3{
        				font-size: 22px;
        				-webkit-font-smoothing: antialiased;
        				line-height: 26px;
        				font-family: "FuturaDemiC";
        			}
        		}
        		.continue{
        			text-align: center;
        			font-size: 14px;
        			.button{
        				display: inline-block;
        				a{
        					border: 1px solid #000000;
        					color: #000;
        					display: block;
        					line-height: 25px;
        					padding: 0 27px;
        					-webkit-transition: all 200ms linear;
        					-moz-transition: all 200ms linear;
        					-o-transition: all 200ms linear;
        					transition: all 200ms linear;
        					&:hover{
        						color: #fff;
        						background-color: #000000;
        						-webkit-transition: all 200ms linear;
        						-moz-transition: all 200ms linear;
        						-o-transition: all 200ms linear;
        						transition: all 200ms linear;
        					}
        				}
        			}
        		}
        	}
        }
    }
}

.gallery-albums{
    margin: 50px auto;
    .item-block{
    	margin: 30px auto;
    	position: relative;
    	&:hover{
    		transition: all 200ms linear;
    	}
    	&:hover:before{
    		opacity: 1;
    	}
    	&::before{
    		pointer-events: none;
    		content: "";
    		position: absolute;
    		top: 0;
    		left: 0;
    		right: 0;
    		bottom: 0;
    		background: rgba(255, 255, 255, 0.7);
    		opacity: 0;
    		-webkit-transition: all 200ms linear;
    		-moz-transition: all 200ms linear;
    		-o-transition: all 200ms linear;
    		transition: all 200ms linear;
    		background-image: url(../images/zoom-ico.png);
    		background-repeat: no-repeat;
    		background-position: center center;
    	}
    }
}

/* Форма */
.subscription{
	padding: 40px 0;
	background-color: $color-darkyellow;
	z-index: 10;
	.subscription-block{
		display: flex;
		justify-content: space-between;
		.subscription-heading{
			width: 48%;
			h2{
				text-align: left;
				padding: 0;
				padding-bottom: 20px;
			}
			label{
				line-height: 1.4;
				@include fontF($gilroy, 15px, 300, $color-black);
			}
		}
		.contact-content-block{
			flex: 1;
			.form-order-repair{
				display: flex;
				flex-direction: column;
				.form-flex{
					display: flex;
					.ico-inputs{
						position: relative;
						width: 80%;
						margin-right: 25px;
						.ico-input{
							span{
								position: absolute;
								top: 50%;
								left: 22px;
								transform: translateY(-50%);
								@include fontF($futura, 20px, 300, $color-brown);
							}
						}
						.form-group{
							width: 100%;
							input{
								display: inline-block;
								width: 100%;
								height: 100%;
								padding: 15px 15px 12px 60px;
								margin-right: 20px;
								border: none;
								border-radius: 3px;
								outline: none;
								&::-webkit-input-placeholder{
									@include fontF($futura, 20px, 300, $color-black);
								}
								&:-ms-input-placeholder {
									@include fontF($futura, 20px, 300, $color-black);
								}
								&::-ms-input-placeholder{
									@include fontF($futura, 20px, 300, $color-black);
								}
								&::placeholder{
									@include fontF($futura, 20px, 300, $color-black);
								}
							}
						}
					}
				}
			}
			.checkbox{
				display: flex;
				align-items: center;
				position: relative;
				padding: 10px 0;
				margin-bottom: 0;
				input[type="checkbox"]{
					display: none;
					&:checked + label:after {
						content: "\2713";
						text-align: center;
						@include fontF($futura, 18px, 300, $color-brown);
						line-height: 37px;
					}
				}
				label{
					position: relative;
					padding-left: 60px;
					margin-bottom: 0;
					@include fontF($gilroy, 15px, 300, $color-black);
					a{
						border-bottom:  1px solid $color-black;
						@include fontF($gilroy, 15px, 300, $color-black);
						&:hover{
							border-bottom: 1px solid transparent;
						}
					}
					&:after{
					    content: '';
					    display: inline-block;
					    left: 0;
					    width: 35px;
					    height: 35px;
					    border-radius: 3px;
					    background-color: $color-white;
					    @include vertical-middle-pos;
					}
				}
			}
		}
	}
}


/* Футер */
.footer-header-panel{
	background-color: $color-footer;
	.footer-header-panel-flex{
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 35px 0;
		border-bottom: 1px solid $color-footergray;
		.mail{
			display: flex;
			align-items: center;
			@include fontF($futura, 20px, 300, $color-white);
			span{
				padding-right: 20px;
				@include fontF($futura, 26px, 300, $color-lightblue);
			}
			p{
				padding-left: 5px;
				a{
					@include fontF($futura, 20px, 300, $color-white);
				}
			}
		}
		.phone{
			display: flex;
			align-items: center;
			a{
				@include fontF($futura-demi, 20px, 800, $color-white);
			}
			span{
				padding-right: 15px;
				@include fontF($futura, 26px, 300, $color-lightblue);
			}
		}
	}
}

.footer{
	background-color: $color-footer;
	.footer-nav{
		padding: 35px 0;
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		.footer-nav-item{
			p{
				margin-bottom: 30px;
				@include fontF($futura-book, 16px, 400, $color-white);
				text-transform: uppercase;
			}
			ul{
				list-style: none;
				li{
					display: block;
					padding: 8px 0;
					a{
						border-bottom: 1px solid $color-footerlink;
						@include fontF($gilroy, 15px, 300, $color-footerlink);
						@include delay;
						&:hover{
							border-bottom: none;
							@include delay;
						}
					}
				}
			}
		}
	}
}

.footer-end-panel{
	background-color: $color-gray;
	.footer-end-panel-text{
		padding: 25px 0;
		display: flex;
		justify-content: space-between;
		align-items: center;
		@include fontF($futura, 18px, 300, $color-footerlink);
		a{
			border-bottom: 1px solid $color-footerlink;
			@include fontF($gilroy, 15px, 300, $color-footerlink);
			@include delay;
			&:hover{
				border-bottom: 1px solid transparent;
				@include delay;
			}
		}
		.dc56{
			display: flex;
			flex-direction: column;
			a{
				border-bottom: none;
				font-size: 14px;
				span{
					font-size: 27px;
				}
			}
		}
		.social{
			display: flex;
			align-items: center;
			justify-content: space-between;
			p{
				margin-right: 15px;
				@include fontF($futura, 18px, 300, $color-footerlink);
			}
			ul{
				display: flex;
				align-items: center;
				justify-content: space-between;
				li{
					position: relative;
					margin-left: 15px;
					a{
						width: 35px;
					    height: 35px;
					    display: block;
					    padding-top: 7px;
					    text-align: center;
					    font-size: 14px;
					    border-radius: 50px;
					    background-color: transparent;
						border: 2px solid  $color-footersocial;
						i{
							color: $color-footersocial;
						}
						&:hover{
							background-color: $color-white;
						}
					}
				}
			}
		}
	}
}

/* КАТЕГОРИИ */
.title-store{
	padding: 0 0 20px;
	//padding: 0px;
}
.store-container{
	.store-panel{
		display: flex;
        margin: 10px auto 50px auto;
		.left-panel-store{
			width: 22.5%;
			margin-right: 2.5%;
			.panel-filters{
				padding: 25px 30px 25px 30px;
				background-color: $color-lightblue;
				.left-panel-filter{
					.filter-block{
						.filter-block__title{
							position: relative;
							@include fontF($futura-demi, 20px, 600, $color-black);
							&:before{
								content: '';
								display: block;
								height: 14px;
								width: 3px;
								background-color: $color-brown;
								position: absolute;
								left: -30px;
								top: 5px;
							}
						}
						.filter-block__body{
							padding: 25px 0;
							input{
								display: inline-block;
								width: 100%;
								padding: 5px 15px;
								margin-bottom: 10px;
								border-radius: 3px;
								border: none;
								border: 1px solid #c1dbe3;
								font-size: 18px;
								outline: none;
								box-shadow: none;
								&::-webkit-input-placeholder{
									@include fontF($futura, 18px, 300, $color-black);
								}
								&:-ms-input-placeholder {
									@include fontF($futura, 18px, 300, $color-black);
								}
								&::-ms-input-placeholder{
									@include fontF($futura, 18px, 300, $color-black);
								}
								&::placeholder{
									@include fontF($futura, 18px, 300, $color-black);
								}
							}
							.filter-block__list-item{
								padding-left: 0;
								margin-bottom: 20px;

								input[type=checkbox]{
									display:none;
									&:checked + label:after {
										content: '■';
										color: $color-darkblue;
										text-align: center;
										line-height: 27px;
										background-color: transparent;
									}
									&:checked + label {
										border-bottom: none;
										color: $color-black;
										@include fontF($futura, 18px, 300, $color-black);
									}
								}
								label{
									padding-left: 40px;
									position: relative;
									display: block;
									cursor: pointer;
									@include fontF($futura, 18px, 300, $color-black);
									&:after {
										content: '';
										display: block;
										width: 30px;
										height: 30px;
										border-radius: 3px;
										border: 1px solid #c1dbe3;
										background-color: transparent;
										position: absolute;
										top: -7px;
										left: 0;
									}
								}
							}
						}

						.filter-block__list-color{
							display: flex;
							flex-wrap: wrap;
							.filter-block__list-item{
								margin: 0 8px 4px 0;
								padding: 0;
								label{
									display: inline-block;
									padding: 0;
									margin: 0;
									width: 31px;
									height: 31px;
									.check{
										display: inline-block;
										width: 31px;
										height: 31px;
										border-radius: 3px;
									}
								}
								label:after{
									width: 31px;
									height: 31px;
									top: 0;
									border: 1px solid rgba(0,0,0,.1);
								}
								input[type=checkbox]:checked+label:after {
									content: '■';
									color: #fff;
									text-align: center;
									line-height: 29px;
									background-color: transparent;
								}
							}
						}
					}


					.filter-block-checkbox-list{
						.filter-block-header{
							position: relative;
							@include fontF($futura-demi, 20px, 600, $color-black);
							&:before{
								content: '';
								display: block;
								height: 14px;
								width: 3px;
								background-color: $color-brown;
								position: absolute;
								left: -30px;
								top: 5px;
							}
						}
						.filter-block-body{
							padding: 15px 0;
							.checkbox{
								padding-left: 0;
								margin-bottom: 25px;

								input[type=checkbox]{
									display:none;
									&:checked + label:after {
										content: '■';
										color: $color-darkblue;
										text-align: center;
										line-height: 27px;
										background-color: transparent;
									}
									&:checked + label {
										border-bottom: none;
										color: $color-black;
										@include fontF($futura, 18px, 300, $color-black);
									}
								}
								label{
									padding-left: 40px;
									position: relative;
									display: block;
									cursor: pointer;
									@include fontF($futura, 18px, 300, $color-black);
									&:after {
										content: '';
										display: block;
										width: 30px;
										height: 30px;
										border-radius: 3px;
										border: 1px solid #c1dbe3;
										background-color: transparent;
										position: absolute;
										top: -7px;
										left: 0;
									}
								}
							}
						}
					}
					.flex-btn{
						display: flex;
						flex-direction: column;
						.btn-backet{
							margin-bottom: 10px;
							padding: 10px 30px;
							&:before{
								content: '';
							}
						}
						.btn-white{
							width: 100%;
						}
					}
				}
				
			}
		}
		.right-panel-store{
			width: 75%;
			padding-bottom: 40px;
			.col-sm-4{
				&:nth-child(odd){
					.product-image{
						// background: $color-lightblue;
					}
				}
				&:nth-child(even){
					.product-image{
    					// background: $color-lightyellow;
					}
				}
				.content-item{
					width: 100%;
					height: 100%;
					display: flex;
					flex-direction: column;
					margin-bottom: 40px;
				}
			}
		}
        .product-image{
            // height: 340px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .product-title{
            height: 40px;
            position: relative;
            overflow: hidden;
            margin: 20px 20px 20px 0;
            a{
                @include fontF($futura, 18px, 300, $color-black);
            }
        }
        .product-price-more{
            display: flex;
            justify-content: space-between;
            align-items: center;
            @include fontF($futura-demi, 20px, 800, $color-black);
            .fa-rub{
                padding-left: 5px;
                font-size: 18px;
            }
            .product-link-more{
                .btn-backet{
                    position: relative;
                    padding: 8px 30px;
                    @include fontF($futura-book, 20px, 400, $color-white);
                    &:before{
                        content: '';
                    }
                }
            }
        }
	}
}



.pagination{
	display: flex;
	justify-content: center;
	ul{
		float: none !important;
		li{
			@include delay;
			a{
				margin-right: 15px;
				width: 36px;
			    height: 36px;
				border-radius: 3px;
			    border: 1px solid $color-lightgray;
			    text-decoration: none;
			    @include fontF($futura, 18px, 300, $color-black);
			    &:hover,
			    &:focus{
			    	border-color: $color-brown;
			    	background-color: transparent;
			    	color: $color-black;
			    	@include delay;
			    }
			}
		}
		.active{
			a{
				color: $color-black;
				border-color: $color-brown;
				background-color: transparent;
				&:hover,
				&:focus{
			    	border-color: $color-brown;
			    	background-color: transparent;
			    	color: $color-black;
			    }
			}
		}
		.previous, .next{
			a{
				font-size: 0;
				border: none;
				transform: rotate(180deg);
				&:before{
					content: '\e900';
					display: inline-block;
					@include fontF($icomoon, 20px, normal, $color-lightblue);
				}
				&:hover{
					&:before{
						color: $color-brown;

					}
				}
			}
		}
		.next{
			a{
				transform: rotate(0deg);
			}
		}
	}
}
/* .... */

/* КАРТОЧКА */
.product-title{
	text-align: left;
	padding: 0 0 20px;
}
.product-panel{
	padding-bottom: 40px;
	.thumbnails{
		.image-preview{
			max-width: 100%;
			margin-bottom: 25px;
		}
		.thumbnail-image{
            margin: 15px 0px;
            border: none;
            padding: 4px;
            display: block;
            text-align: center;
		}
	}
    .row-video{
        .row-video__block{
            padding: 15px 25px;
        }
        .thumbnail-video{
            position: relative;
            &:before{
                content: '\f01d';
                font-family: 'FontAwesome';
                font-size: 100px;
                color: $color-lightblue;
                @include align-center-pos;
            }
        }
    }
	.product-data{
		.product-block-prices-shopcart{
			padding: 20px 0;
			margin: 25px 0;
			border-top: 1px solid $color-lightblue;
			border-bottom: 1px solid $color-lightblue;
			@include fontF($futura-demi, 25px, 800, $color-black);
			.block-shopcart{
				margin-top: 15px;
			}
			.fa-rub{
				padding-left: 5px;
				font-size: 21px;
			}
		}
		.product-info__review-link{
			font-family: "Gilroy-Light_0";
			font-size: 15px;
			font-weight: 300;
		}
		.card-tab{
			input{
				display: none;
				position: absolute;
			}
			>div{
				display: none;
				padding: 20px 0;
				background: $color-white;
				width: 100%;
				@include delay;
				p{
					line-height: 1.4;
					padding-bottom: 5px;
					@include fontF($gilroy, 16px, 300, $color-black);
				}
			}
			label{
				display: inline-block;
				margin: 0 0 -1px;
				margin-right: 40px;
				background: $color-white;
				border-bottom: 1px dashed $color-lightgray;
				@include fontF($futura-book, 21px, 400, $color-lightgray);
				@include delay;
				&:hover{
					cursor: pointer;
				}
			}
			input:checked + label {
			    background-color: $color-white;
			    color: $color-black;
				border-bottom: 1px dashed transparent;
				cursor: pointer;
				@include delay;
				@include fontF($futura-demi, 21px, 800, $color-black);
			}
			#tab_1:checked ~ #txt_1,
			#tab_2:checked ~ #txt_2,
			#tab_3:checked ~ #txt_3,
			#tab_4:checked ~ #txt_4{ 
				display: block; 
				@include delay;
			}
		}
	}
}

/* Сопутствующие */
.related{
	padding: 40px 0;
	background-color: $color-lightblue;
	.related-block{
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		display: flex;
		.related-item{
			display: flex;
			flex-direction: column;
			.description{
				padding: 20px 20px 35px 0;
				span{
					@include fontF($futura, 18px, 300, $color-black);
				}
			}
			.price{
				display: flex;
				justify-content: space-between;
				align-items: center;
				span{
					@include fontF($futura-demi, 20px, 800, $color-black);
				}
				.btn-backet{
					span{
						@include fontF($futura-book, 20px, 400, $color-white);
					}
				}
			}
		}
	}
}


/* Отзывы в карточке*/
.reviews-card{
	padding: 40px 0;
	background-color: $color-lightyellow;
	h2{
    	text-align: left;
    	padding-bottom: 35px;
    }
	.reviews{
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	    .reviews-item{
	    	display: flex;
	    	background-color: $color-darkyellow;
	    	padding: 25px 25px 35px;
	    	margin-bottom: 25px;
	    	width: 49%;
	    	&:nth-child(2n){
	    		margin-right: 0;
	    	}
	    	.face{
	    		width: 15%;
	    		margin-right: 10px;
	    	}
	    	.comment{
	    		flex: 1;
	    		display: flex;
	    		flex-direction: column;
	    		span{
	    			@include fontF($futura-demi, 21px, 800, $color-black);
	    		}
	    		label{
	    			@include fontF($futura, 16px, 300, $color-lightgray);
	    			margin: 0;
	    		}
	    		p{
	    			@include fontF($futura, 18px, 300, $color-black);
	    			padding: 20px 0 0;
	    		}
	    	}
	    }
	}
	.reviews-btn{
		.btn-white{
			border-color: $color-brown;
			&:hover{
				background-color: $color-brown;
				color: $color-white;
			}
		}
		.btn-catalog{
			margin-left: 20px;
		}
	}

}
/* .. */




/* page-txt */
.page-txt{
	padding-bottom: 40px;
	@include fontF($gilroy, 16px, 300, $color-black);
	h1{
		padding: 40px 0;
		@include fontF($futura-demi, 30px, 800, $color-black);
	}
	h2{
		text-align: left;
		padding: 20px 0;
		@include fontF($futura-demi, 27px, 800, $color-black);
	}
	.first-h2{
		padding: 0 0 20px;
	}

	p{
		font-size: 16px;
		padding: 10px 0;
	}
	label{
		margin: 0;
		@include fontF($futura-demi, 20px, 800, $color-black);
	}
	img{
		// margin: 10px 0;
	}
	ul{
		margin-left: 15px !important;
		margin-bottom: 0;
		li{
			font-size: 16px;
			line-height: 1.2;
			a{
				color: $color-black;
				border-bottom: 1px solid $color-black;
				&:hover{
					border-bottom: 1px solid transparent;
				}
			}
		}
	}
	ol{
		margin-left: 15px;
		margin-bottom: 0;
		list-style-type: decimal !important;
		li{
			font-size: 16px;
			line-height: 1.2;
		}
	}

	blockquote{
		margin: 0;
		margin-bottom: 20px;
		background: $color-darkyellow;
		color: $color-black;
		border-left: none;
		padding: 45px 0 20px;
		position: relative;
		text-align: center;
		font-size: 18px;
		line-height: 1.4;
		&:before{
			content: "\f10d";
			font-family: FontAwesome;
			position: absolute;
			z-index: 2;
			padding: 0 15px;
			left: 50%;
			transform: translateX(-50%);
			top: 14px;
			color: $color-black;
			font-size: 18px;
			background: $color-darkyellow;
		}
		&:after{
			content: "";
			position: absolute;
			left: 15px;
			top: 20px;
			right: 15px;
			height: 4px;
			border-top: 1px dotted $color-black;
			border-bottom: 1px dotted $color-black;
		}
	}
	.flex-block{
		display: flex;
    	align-items: baseline;
    	label{
    		font-size: 18px;
    	}
    	p{
    		flex: 1 1 30%;
    		&:first-child{
    			flex: 1 1 20%;
    			font-size: 18px;
    		}
    	}
    	.social-flex{
		    display: flex;
		    flex: 1 1 30%;
    		margin: 10px 0;
    		a{
    			width: 30px;
			    height: 30px;
			    display: block;
			    margin-right: 15px;
			    padding-top: 7px;
			    text-align: center;
			    font-size: 14px;
			    border-radius: 50px;
			    background: $color-brown;
			    color: $color-white;
			    &:hover{
					background: $color-darkbrown;
			    }
    		}
    	}
	}
	.mode{
		margin-top: 25px;
		label{
			font-size: 20px;
		}
	}

	.content-page-image{
	    display: flex;
    	margin: 25px 0;
	}
}


/* Регистрация */
.register{
	min-height: 700px;
	padding: 40px 20px;
	background-color: $color-white;
	border: none !important;
	border-radius: 0;
	box-shadow: none;
	.form-group{
		label{
			display: none;
			@include fontF($futura, 20px, 300, $color-black);
		}
		input{
			display: inline-block;
			width: 100%;
			// height: 100%;
			padding: 22px 15px 22px 15px;
			margin-right: 20px;
			font-size: 18px;
			border-radius: 3px;
			outline: none;
			box-shadow: none;
			&::-webkit-input-placeholder{
				@include fontF($futura, 18px, 300, $color-black);
			}
			&:-ms-input-placeholder {
				@include fontF($futura, 18px, 300, $color-black);
			}
			&::-ms-input-placeholder{
				@include fontF($futura, 18px, 300, $color-black);
			}
			&::placeholder{
				@include fontF($futura, 18px, 300, $color-black);
			}
		}
		.btn-white{
			padding: 10px 15px;
			font-size: 16px;
		}
		.checkbox{
			display: flex;
			align-items: center;
			position: relative;
			padding-left: 0;
			margin-bottom: 0;
			/* input[type="checkbox"]{
				display: none;
				&:checked + label:after {
					content: "\2713";
					text-align: center;
					@include fontF($futura, 18px, 300, $color-brown);
					line-height: 27px;
				}
			}
			label{
				display: block !important;
				position: relative;
				padding-left: 60px;
				margin-bottom: 0;
				@include fontF($gilroy, 15px, 300, $color-black);
				a{
					border-bottom:  1px solid $color-black;
					@include fontF($gilroy, 15px, 300, $color-black);
					&:hover{
						border-bottom: 1px solid transparent;
					}
				}
				&:after{
				    content: '';
				    display: inline-block;
				    left: 0;
				    width: 25px;
				    height: 25px;
				    border-radius: 3px;
				    background-color: $color-white;
				    border: 1px solid $color-footersocial;
				    @include vertical-middle-pos;
				}
			} */
			input[type="checkbox"]{
				width: auto;
			}
			label{
				display: block !important;
				position: relative;
				padding-left: 25px;
				margin-bottom: 0;
				@include fontF($gilroy, 15px, 300, $color-black);
				a{
					border-bottom:  1px solid $color-black;
					@include fontF($gilroy, 15px, 300, $color-black);
					&:hover{
						border-bottom: 1px solid transparent;
					}
				}
			}
		}
	}
	.generate{
		display: flex;
		align-items: center;
		justify-content: space-between;
		.form-group{
			width: 49%;
			.btn-white{
				padding: 11px 15px;
				width: 100%;
			}
		}
	}
	.log-btn{
		width: 50%;

	}
	.forgot{
		margin-top: 15px;
		display: flex;
		justify-content: space-between;
		align-items: baseline;
		width: 50%;
	}
	a{
		padding: 10px 12px;
		@include fontF($futura-medium, 16px, 600, $color-black);
		&:first-child{
			padding-left: 0;
		}
		&:last-child{
			padding-right: 0;
		}
		&:hover{
			color: $color-black;
		}
	}
}
.btn-primary{
	width: 100%;
	padding: 10px 60px;
	&:focus, &:active{
		background-color: $color-brown;
	}
}
.btn-refresh{
	&:focus, &:active{		
		box-shadow: none !important;
		.glyphicon-repeat{
			color: $color-brown;
		}
	}
	&:hover{
		.glyphicon-repeat{
			color: $color-brown;
		}
	}
}

/* Новости */
.panel-news{
    .block-news{
        margin: 0px 0 25px;
        img{
            border-radius: 5px;
        }
        h4{
        	a{
	            @include fontF($futura-demi, 21px, 800, $color-black);
	        }
        }
    }
}
.news-page{
    // @include fontF($gilroy-medium, 16px, 400, $color-black);
    p{
        padding: 15px 0px;
    }
    .news-title{
         // @include fontF($gilroy-bold, 30px, 400, $color-form);
    }
    .news-date{
        // @include fontF($gilroy-light, 14px, 400, $color-grey-label-footer);
    }
    .image-news{
        display: inline-block;
        float: left;
        padding: 15px; padding-left: 0px;
    }
}

.news-list{
    .panel-list-news{
        display: flex;
        flex-flow: row wrap;
        .block-news{
            width: 50%;
            display: flex;
            margin: 15px 0px;
            a{
                @include fontF($futura-demi, 16px, 800, $color-black);
            }
            span{
                @include fontF($futura, 12px, 300, $color-historyspan);
            }
            .image-news{
                width: 40%;
            }
            .title-news{
                width: 60%;
                padding: 0px 15px;
                h4{
                    line-height: 1.1;
                }
            }
            .btn-news{
                padding: 10px 15px;
                margin-top: 10px;
            }
        }
        .comment{
            .image-comment{
                min-width: 120px;
                img{
                    border-radius: 50%;
                }
            }
            .text-comment{
                padding: 0px 15px;
                label{
                    @include fontF($futura-demi, 18px, 600, $color-black);
                }
                @include fontF($gilroy, 16px, 300, $color-black);
            }
        }
    }
}

.news-page{
    .block-news{
        display: flex;
        .img-news{
            width: 50%;
        }
        .text-news{
            width: 50%;
        }
    }
}


.panel-chat{
    @include fontF($futura, 16px, 300, $color-black);
    line-height: 1.2;
    span{
        @include fontF($futura, 12px, 300, $color-historyspan);
    }
    label{
        @include fontF($futura-demi, 16px, 800, $color-black);
    }
    .message-chat-content{
        height: 300px; overflow: auto;
        .message-chat-box{
            width: 70%;
            border-radius: 5px;
            padding: 5px 15px;
            margin: 10px;
            .message-chat-header__info{
                margin-bottom: 10px;
                .message-chat-header__name{
                    label{
                        padding: 0px;
                        margin: 0px;
                    }
                }
            }
        }
        .message-chat-box-from{
            float: left;
            background-color: $color-lightyellow;
        }
        .message-chat-box-to{
            float: right;
            background-color: $color-lightblue;
        }
    }
    .panel-chat_form{
        border: 1px solid $color-border;
        padding: 10px;
        margin: 30px 0px;
        @include delay;
        &:hover{
            border-color: $color-brown;
            @include delay;
        }
        .form-group{
            display: block;
            textarea{
                display: block;
                width: 100%;
                font-size: 18px;
            }
        }
        .btn-send{
            margin: 20px 0px;
            padding: 10px 35px;
            border-radius: 3px;
            box-shadow: 7.071px 7.071px 0px 0px rgba(110, 62, 49, 0.15);
            background-color: $color-brown;
            @include fontF($futura-demi, 18px, 800, $color-white);
            @include delay;
            &:hover{
                cursor: pointer;
                background-color: $color-darkbrown;
                color: $color-white;
                @include delay;
            }
        }
    }
}

.form-site{
    .form-group{
        width: 100%;
        margin: 10px auto;
		label{
			display: none;
			@include fontF($futura, 20px, 300, $color-black);
		}
		input, select, textarea{
			display: inline-block;
			width: 100%;
			// height: 100%;
			padding: 22px 15px 22px 15px;
			font-size: 18px;
			border-radius: 3px;
			outline: none;
			box-shadow: none;
            @include fontF($futura-demi, 18px, 600, $color-black);
			&::-webkit-input-placeholder{
				@include fontF($futura, 18px, 300, $color-delete);
			}
			&:-ms-input-placeholder {
				@include fontF($futura, 18px, 300, $color-delete);
			}
			&::-ms-input-placeholder{
				@include fontF($futura, 18px, 300, $color-delete);
			}
			&::placeholder{
				@include fontF($futura, 18px, 300, $color-delete);
			}
		}
        input[type="submit"]{
            
        }
        select{
            height: 45px;
            padding: 0px 10px;
        }
        textarea{
            padding: 5px 10px;
            width: 100%;
        }
		.btn-white{
			padding: 10px 15px;
			font-size: 16px;
		}
    }
}

.lk-content{
    h2{
        padding: 0px 0px 40px;
        margin: 0px;
    }
}

.lk-setting{
    .lk-setting__img{
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
        .lk-setting__avatar{
            img{
                border-radius: 5px;
            }
        }
    }
}

.lk-box{
    .lk-box__content{
        margin: 30px auto 100px;
        a{
            @include fontF($futura-medium, 16px, 600, $color-black);
        }
    }
    .lk-box__menu{
        .lk-menu{
            display: flex;
            border-bottom: 1px solid $color-border;
            li{
                display: flex;
                border-bottom: 1px solid $color-white;
                a{
					padding: 10px 20px;
					text-transform: uppercase;
					border-top: 2px solid transparent;
					@include fontF($futura-medium, 16px, 600, $color-black);
                }
                &:hover{
                    color: $color-darkblue;
                    border-bottom: 1px solid $color-darkblue;
                }
            }
        }
    }
}

#html5box-html5-lightbox #html5-watermark{
	display: none !important;
}
