/*@mixin flexbox() {
  display: -webkit-flex;
   display: -webkit-box;
   display: -ms-flexbox;
      display: -moz-box;
          display: flex;
}
@mixin align-items($value: stretch) {
  @if $value == flex-start {
    -webkit-box-align: start;
    -moz-box-align: start;
    -ms-flex-align: start;
  } @else if $value == flex-end {
    -webkit-box-align: end;
    -moz-box-align: end;
    -ms-flex-align: end;
  } @else {
    -webkit-box-align: $value;
    -moz-box-align: $value;
    -ms-flex-align: $value;
  }
  -webkit-align-items: $value;
  align-items: $value;
}
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
       -o-border-radius: $radius;
          border-radius: $radius;
}
@mixin justify-content($value: flex-start) {
  @if $value == flex-start {
    -webkit-box-pack: start;
    -moz-box-pack: start;
    -ms-flex-pack: start;
  } @else if $value == flex-end {
    -webkit-box-pack: end;
    -moz-box-pack: end;
    -ms-flex-pack: end;
  } @else if $value == space-between {
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
  } @else if $value == space-around {
    -ms-flex-pack: distribute;
  } @else {
    -webkit-box-pack: $value;
    -moz-box-pack: $value;
    -ms-flex-pack: $value;
  }
  -webkit-justify-content: $value;
  justify-content: $value;
}
.message-chat-content{
    padding: 50px 0 0;
}
.message-chat-box{
    @include flexbox();
    .message-chat-box__item{
        @include flexbox();
        @include align-items(flex-start);
        width: 90%;
        margin: 0 0 30px;
    }
    .message-chat-box__img{
        width: 50px;
        height: 50px;
        @include border-radius(50%);
        overflow: hidden;
        margin: 5px 0 0;
    }
    .message-chat-box__info{
        width: calc(100% - 50px);
        padding: 0 0 0 10px;
    }
}

.message-chat {
    .message-chat__header{
        @include flexbox();
    }
    .message-chat__body{
        position: relative;
        padding: 12px 20px;
        color: #fff;
        font-size: 14px;
        font-family: "FuturaMediumC";
        line-height: 28px;
        background-color: #f8f8f8;
        @include border-radius(5px);
    }

    &:after {
        content: '';
        display: block;
        clear: both;
    }
}

.message-chat-header{
    @include flexbox();
    @include justify-content(space-between);
    padding: 0 0 5px;
    .message-chat-header__remove{
        order: 2;
    }
    .message-chat-header__info{
        order: 1;
    }
    .message-chat-header__time{
        margin: 0 10px 5px 0;
        color: rgba(#303030, 0.4);
        font-size: 13px;
        font-family: FuturaMediumC;
        line-height: 1.1;
    }
    .message-chat-header__name{
        color: #303030;
        font-size: 14px;
        font-family: FuturaMediumC;
        font-weight: bold;
        line-height: 1.1;
    }
    .message-chat-header__delete{
        color: rgba(#303030, 0.4);
        font-size: 13px;
        font-family: FuturaMediumC;
        line-height: 1.1;
    }
}
.message-chat-box-to {
    @include justify-content(flex-start);
    margin-right: auto;
    .message-chat-header{
        .message-chat-header__time{
            color: rgba(#fff, 0.4);
        }
        .message-chat-header__name{
            color: rgba(#fff, 1);
        }
        .message-chat-header__delete{
            color: rgba(#fff, 0.4);
        }
    }
     .message-chat__body{
        color: rgba(#fff, 0.8);
        background: #303030;
    }
}
.message-chat-box-from {
    @include justify-content(flex-end);
    margin-left: auto;
    .message-chat-box__info {
        padding: 0 10px 0 0;
    }
    .message-chat-box__img {
        order: 2;
    }
     .message-chat__body{
        background:#e5e5ea;
        color: #303030;
    }
}

@media (max-width: 1000px){
    .message-chat {
        .message-chat__body{
            padding: 12px 15px;
            line-height: 24px;
        }
    }
}

@media (max-width: 640px){
    .message-chat {
        .message-chat__body{
            padding: 12px 10px;
            line-height: 20px;
        }
        .message-chat__header{
            padding: 0 0 7px;
        }
        .message-chat__text{
            line-height: 1.0;
        }
    }
    .message-chat-box{
        .message-chat-box__item{
            margin: 0 0 20px;
        }
        .message-chat-box__img{
            width: 40px;
            height: 40px;
        }
        .message-chat-box__info{
            width: calc(100% - 40px);
            padding: 0 0 0 10px;
        }
    }
    .message-chat-box-from {
        .message-chat-box__info {
            padding: 0 10px 0 0;
        }
    }
}*/