$gilroy: 'Gilroy-Light_0';
$palatino: 'palationo';
$futura: 'FuturaLightC';
$futura-demi: 'FuturaDemiC';
$futura-book: 'FuturaBookC';
$futura-medium: 'FuturaMediumC';
$icomoon: 'icomoon';


@font-face {
    font-family: $gilroy;
    src: url('../fonts/Gilroy-Light_0.otf');
    src: local('Gilroy-Light_0'), local('Gilroy-Light_0'),
        url('../fonts/Gilroy-Light_0.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: $palatino;
    src: url('../fonts/palationo.ttf');
    src: local('palationo'), local('palationo'),
        url('../fonts/palationo.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: $futura;
    src: url('../fonts/FuturaLightC.otf');
    src: local('FuturaLightC'), local('FuturaLightC'),
        url('../fonts/FuturaLightC.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: $futura-demi;
    src: url('../fonts/FuturaDemiC.otf');
    src: local('FuturaDemiC'), local('FuturaDemiC'),
        url('../fonts/FuturaDemiC.otf') format('opentype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: $futura-book;
    src: url('../fonts/FuturaBookC.otf');
    src: local('FuturaBookC'), local('FuturaBookC'),
        url('../fonts/FuturaBookC.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: $futura-medium;
    src: url('../fonts/FuturaMediumC.otf');
    src: local('FuturaMediumC'), local('FuturaMediumC'),
        url('../fonts/FuturaMediumC.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
  font-family: $icomoon;
  src:  url('../fonts/icomoon.eot?na6e8g');
  src:  url('../fonts/icomoon.eot?na6e8g#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?na6e8g') format('truetype'),
    url('../fonts/icomoon.woff?na6e8g') format('woff'),
    url('../fonts/icomoon.svg?na6e8g#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}