.modal{
	@at-root.modal-dialog{
		@at-root.modal-content{
			@at-root.modal-close{
				position: absolute;
				top: 26px;
				right: 20px;
				width: 20px;
				height: 20px;
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				cursor: pointer;
			}
		}
	}
}
.review-modal{
	.modal-dialog{
		max-width: 320px;
		.modal-content{
			position: relative;
			padding: 2rem;
			@at-root.modal-heading{
				font-size: 16px;
				strong{
					font-size: 24px;
				}
			}
		}
	}
	.review-modal__link{
		padding: 10px 20px 10px 20px;
		border: none;
		box-shadow: none;
		&:before{
			display: none;
		}
	}
}