.review-box{
	&__item{
		margin: 0 0 1.5rem 0;
	}
	&__name{
		font-size: 16px;
		font-weight: bold;
		.review-box__date{
			display: inline-block;
			margin: 0 0 0 1.5rem;
			font-size: 11px;
			font-weight: normal;
		}
	}
	.rating-list{
		max-width: 155px;
	}
}