.store-container{
    
}

/* Корзина */
#cart-body{
	padding: 40px 0;
	min-height: 700px;
}
.store-container{
	.order-form{
		padding-bottom: 40px;
		.panel-shopcart{
			.header-shopcart{
				display: flex;
				justify-content: space-between;
				align-items: center;
				padding: 6px;
				border-bottom: 1px solid $color-lightgray;
				.col-flex{
					width: 16%;
					text-align: center;
					@include fontF($futura-medium, 18px, 600, $color-black);
				}
				.cart-image, .cart-title, .cart-attribute{
					text-align: left;
				}
			}
			.body-shopcart{
				.shopcart-line-item{
					display: flex;
					justify-content: space-between;
					align-items: center;
					border-bottom: 1px solid $color-lightgray;
					.col-flex{
						width: 16%;
						padding: 6px;
						text-align: center;
						@include fontF($futura-medium, 18px, 600, $color-black);
						.fa-rub{
							position: relative;
							padding-left: 5px;
						}
						.input-group-btn{
							.cart-quantity-increase, .cart-quantity-decrease{
								position: relative;
								border: 1px solid $color-increase;
								&:hover{
									background-color: $color-increase;
								}
								&:focus{
									background-color: $color-increase;
									color: $color-black;
								}
							}
							.cart-quantity-increase{
								margin-left: 3px;
							}
							.cart-quantity-decrease{
								margin-right: 3px;
							}
						}
						.cart-delete-product{
							background-color: transparent;
							color: $color-delete;
							&:hover{
								color: $color-gray;
							}
							&:active{
								box-shadow: none;
								outline: none;
							}
						}
					}
					.cart-image, .cart-title, .cart-attribute{
						text-align: left;
						span{
							display: block;
							margin-bottom: 5px;
							@include fontF($gilroy, 15px, 300, $color-gray);
						}
						a{
							@include fontF($futura-medium, 18px, 600, $color-black);
						}
					}
					.cart-attribute{
						display: flex;
						flex-direction: column;
						label{
							@include fontF($gilroy, 14px, 300, $color-gray);
							span{
								display: inline;
								@include fontF($futura-medium, 18px, 600, $color-black);
							}
						}
					}
				}
			}
            .footer-shopcart{
                margin: 30px 0px;
                @include fontF($futura-medium, 20px, 600, $color-black);
            }
		}
		.panel-delivery{
			margin: 20px 0; 
			font-size: 18px;
			h4{
				@include fontF($futura-medium, 20px, 600, $color-black);
			}
		}
        .panel-order{
            padding: 20px 0px;
            .form-group{
				label{
					display: none;
					@include fontF($futura, 20px, 300, $color-black);
				}
				input{
					display: inline-block;
					width: 100%;
					padding: 22px 15px 22px 15px;
					margin-right: 20px;
					border-radius: 3px;
					font-size: 18px;
					outline: none;
					box-shadow: none;
                    @include fontF($futura-demi, 18px, 300, $color-black);
					&::-webkit-input-placeholder{
						@include fontF($futura, 18px, 300, $color-black);
					}
					&:-ms-input-placeholder {
						@include fontF($futura, 18px, 300, $color-black);
					}
					&::-ms-input-placeholder{
						@include fontF($futura, 18px, 300, $color-black);
					}
					&::placeholder{
						@include fontF($futura, 18px, 300, $color-black);
					}
				}
                textarea{
                    @include fontF($futura-demi, 18px, 300, $color-black);
                    font-size: 18px;
                }
			}
        }
	}
}


.kladr-error {
	color: $color_1;
}
#kladr_autocomplete {
	ul {
		position: absolute;
		display: block;
		margin: 0;
		padding: 0;
		border: 1px solid #c4c4c4;
		background-color: $background_color_1;
		z-index: 9999;
		overflow-x: hidden;
		overflow-y: auto;
		min-width: 200px;
		max-height: 420px;
		color: $color_2;
	}
	li {
		display: list-item;
		list-style-type: none;
		margin: 0;
		padding: 6px 10px;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		&:hover {
			background-color: $background_color_2;
			cursor: pointer;
		}
	}
	li.active {
		background-color: $background_color_3;
	}
	a , strong, small{
		text-decoration: none;
		font-family: $futura-demi;
		font-size: 14px;
	}
	small {
		font-size: 14px;
		color: $color_3;
		font-size: 12px;
	}
	.spinner {
		position: absolute;
		display: block;
		margin: 0;
		padding: 0;
		width: 16px;
		height: 16px;
		background: url("../images/spinner.png") center center no-repeat;
		z-index: 9999;
	}
}

.products-attributes{
	.products-sizes_size{
		&.disabled{
			pointer-events: none;
			label{
				opacity: 0.5;
			}
		}
	}
    .products-attributes_attribute{
        display: flex;
        align-items: center;
        .label-attribute{
            @include fontF($futura-demi, 16px, 600, $color-black);
        }
    }
    .products-attributes_color{
    	.products-sizes_size{
    		label{
    			position: relative;
    			display: inline-block;
    			padding: 0;
    			margin: 0;
    			width: 31px;
    			height: 31px;
    			.is_color{
    				display: inline-block;
    				width: 31px;
    				height: 31px;
    				border-radius: 3px;
    			}
    		}
    		label:after{
    			position: absolute;
    			width: 31px;
    			height: 31px;
    			top: 0;
    			left: 0;
    			border: 1px solid rgba(0,0,0,0.3);
    			border-radius: 3px;
    		}
    		input[type=radio]:checked+label {
    			background-color: transparent;
    		}
    		input[type=radio]:checked+label:after {
    			content: '';
    			color: #fff;
    			text-align: center;
    			line-height: 29px;
    			box-shadow: 0px 3px 3px rgba(0,0,0,0.3);
    		}
    	}
    }
}

.products-sizes{
    display: flex;
    input[type="radio"] {
        position: absolute;
        visibility: hidden;
        display: none;
        &:checked{
            + label{
                background-color: $color-brown;
                @include fontF($futura-demi, 16px, 600, $color-white);
            }
        }
    }
    label{
        padding: 3px 7px;
        border-radius: 2px;
        cursor: pointer;
        @include fontF($futura-demi, 16px, 600, $color-black);
    }
    .products-sizes_size{
        margin: 10px 5px;
    }
}

.linked-products{
    h3{
        @include fontF($futura-demi, 30px, 800, $color-black);
    }
}