.breadcrumb{
    background: none;
    margin: 10px 0px 30px;
    padding: 0px 0px;
   	li{
		a{
			@include fontF($gilroy, 15px, 300, $color-black);
			border-bottom: 1px solid $color-black;
			&:hover{
				color: $color-black;
				border-bottom: 1px solid transparent;
			}
		}

	}
	li+li:before {
	    content: "-";
	    @include fontF($gilroy, 15px, 800, $color-black);
	} 
}

.menu-clients{
    li{
        a{
            display: flex;
            align-items: center;
            padding: 15px;
            border-radius: 5px;
            @include fontF($futura-medium, 20px, 600, $color-black);
            i{
                display: block;
                margin-right: 15px;
            }
        }
        ul{
            li{
                a{
                    padding: 5px; font-size: 14px;
                }
            }
        }
        &.btn-orders.active{
            box-shadow: none;
        }
    }
}

.menu-profile-clients{
    li{
        a{
            margin: 10px 15px;
        }
    }
}

.btn-chat{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    right: 30px;
    bottom: 10px;
    z-index: 255;
    padding: 5px 30px;
	border-radius: 3px;
	box-shadow: 7.071px 7.071px 0px 0px rgba(110, 62, 49, 0.15);
	background-color: $color-brown;
	@include fontF($futura-demi, 18px, 800, $color-white);
	@include delay;
	&:hover{
        cursor: pointer;
		background-color: $color-darkbrown;
		color: $color-white;
		@include delay;
	}
    span, label{
        cursor: pointer;
        display: block;
        margin: 5px;
    }
}

.panel-chat{
    @include fontF($futura, 16px, 300, $color-black);
    line-height: 1.2;
    span{
        @include fontF($futura, 12px, 300, $color-historyspan);
    }
    label{
        @include fontF($futura-demi, 16px, 800, $color-black);
    }
    .message-chat-content{
        height: 300px; overflow: auto;
        .message-chat-box{
            width: 70%;
            border-radius: 5px;
            padding: 5px 15px;
            margin: 10px;
            .message-chat-header__info{
                margin-bottom: 10px;
                .message-chat-header__name{
                    label{
                        padding: 0px;
                        margin: 0px;
                    }
                }
            }
        }
        .message-chat-box-from{
            float: left;
            background-color: $color-lightyellow;
        }
        .message-chat-box-to{
            float: right;
            background-color: $color-lightblue;
        }
    }
    .panel-chat_form{
        border: 1px solid $color-border;
        padding: 10px;
        margin: 30px 0px;
        @include delay;
        &:hover{
            border-color: $color-brown;
            @include delay;
        }
        .form-group{
            display: block;
            textarea{
                display: block;
                width: 100%;
                font-size: 18px;
            }
        }
        .btn-send{
            margin: 20px 0px;
            padding: 10px 35px;
            border-radius: 3px;
            box-shadow: 7.071px 7.071px 0px 0px rgba(110, 62, 49, 0.15);
            background-color: $color-brown;
            @include fontF($futura-demi, 18px, 800, $color-white);
            @include delay;
            &:hover{
                cursor: pointer;
                background-color: $color-darkbrown;
                color: $color-white;
                @include delay;
            }
        }
    }
}

.container-chat{
    line-height: 1.2;
    @include fontF($futura, 16px, 300, $color-black);
    span{
        @include fontF($futura, 12px, 300, $color-historyspan);
    }
    label{
        @include fontF($futura-demi, 16px, 800, $color-black);
    }
    .container-chat_clients{
        
    }
    .container-chat_dialogs{
        .messages-container{
            height: 350px;
            overflow: auto;
            .message-chat-box{
                width: 70%;
                border-radius: 5px;
                padding: 5px 15px;
                margin: 10px;
                .message-chat-header__info{
                    margin-bottom: 10px;
                    .message-chat-header__name{
                        label{
                            padding: 0px;
                            margin: 0px;
                        }
                    }
                }
            }
            .message-chat-box-from{
                float: right;
                background-color: $color-lightyellow;
            }
            .message-chat-box-to{
                float: left;
                background-color: $color-lightblue;
            }
        }
        .form-chat{
            border: 1px solid $color-border;
            border-radius: 2px;
            padding: 10px;
            margin: 30px 0px;
            @include delay;
            &:hover{
                border-color: $color-brown;
                @include delay;
            }
            .form-group{
                display: block;
                textarea{
                    display: block;
                    width: 100%;
                    font-size: 18px;
                }
            }
            .btn-send{
                margin: 20px 0px;
                padding: 10px 35px;
                border-radius: 3px;
                box-shadow: 7.071px 7.071px 0px 0px rgba(110, 62, 49, 0.15);
                background-color: $color-brown;
                @include fontF($futura-demi, 18px, 800, $color-white);
                @include delay;
                &:hover{
                    cursor: pointer;
                    background-color: $color-darkbrown;
                    color: $color-white;
                    @include delay;
                }
            }
        }
    }
}