$color-basic: #464646;
$color-form: #242424;
$color-white: #fff;
$color-black: #232323;


$color-darkblue: #254659;
$color-lightblue: #ecf5f8;
$color-advantageblue: #dce6e9;
$color-arrowblue: #add6da;

$color-logo: #173a4f;

$color-border: #b7cbd5;
$color-footer: #111314;
$color-footergray: #282b2c;
$color-footerlink: #5d6265;
$color-footersocial: #929ca2;

$color-lightyellow: #fbf8ef;
$color-darkyellow: #f5f0e3;
$color-advantageyell: #e5dfce;

$color-gray: #1d2021;
$color-lightgray: #c7d2d8;
$color-historyspan: #9b9b9b;

$color-dots: #6c92a6;
$color-increase: #cccccc;
$color-delete: #807f7f;

$color-brown: #a65d49;
$color-darkbrown: #824839;





[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: $icomoon !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body, p, h1, h2, h3, h4, div, ul, li, div{
	margin: 0px; padding: 0px; border: 0px;
}

body{
	background: #fff;
}

.list-view{
	padding: 0px !important
}

a{
	outline: none !important;
	text-decoration: none;
	@include delay;
	&:hover{
		@include delay;
		text-decoration: none !important;
	}
	&:focus, &:active{
		@include delay;
		text-decoration: none !important;
	}
}

img{
	max-width: 100%;
	width: auto;
}

.container-site{
	position: relative; width: 100%;
	line-height: 1.2;
}

.content-site{
	width: 1170px; margin: 0 auto;
	height: 100%;
	@include fontF($futura, 16px, 300, $color-basic);
}

.page-txt{
	img{
		max-width: 100%;
	}
	ul, ol{
		list-style: disc !important;
		li{
			padding: 5px;
			margin: 0px 15px;
		}
	}
}

.breadcrumbs{
	padding: 10px 0px !important;
	margin: 20px auto;
	background: #fff;
	.breadcrumb{
		background: none;
	}
	a{
		&:hover{
			color: #f41a1a;
		}
	}
}

.icon-DCMedia--- .path1:before {
  content: "\e908";
  color: rgb(38, 38, 38);
}
.icon-DCMedia--- .path2:before {
  content: "\e90b";
  margin-left: -4.2314453125em;
  color: rgb(38, 38, 38);
}
.icon-DCMedia--- .path3:before {
  content: "\e90c";
  margin-left: -4.2314453125em;
  color: rgb(38, 38, 38);
}
.icon-DCMedia--- .path4:before {
  content: "\e90d";
  margin-left: -4.2314453125em;
  color: rgb(38, 38, 38);
}
.icon-DCMedia--- .path5:before {
  content: "\e90e";
  margin-left: -4.2314453125em;
  color: rgb(38, 38, 38);
}
.icon-DCMedia--- .path6:before {
  content: "\e90f";
  margin-left: -4.2314453125em;
  color: rgb(234, 198, 60);
}
.icon-DCMedia--- .path7:before {
  content: "\e910";
  margin-left: -4.2314453125em;
  color: rgb(45, 45, 45);
}
.icon-DCMedia--- .path8:before {
  content: "\e911";
  margin-left: -4.2314453125em;
  color: rgb(234, 198, 60);
}
.icon-DCMedia-- .path1:before {
  content: "\e912";
  color: rgb(255, 255, 255);
}
.icon-DCMedia-- .path2:before {
  content: "\e913";
  margin-left: -4.232421875em;
  color: rgb(255, 255, 255);
}
.icon-DCMedia-- .path3:before {
  content: "\e914";
  margin-left: -4.232421875em;
  color: rgb(255, 255, 255);
}
.icon-DCMedia-- .path4:before {
  content: "\e915";
  margin-left: -4.232421875em;
  color: rgb(234, 198, 60);
}
.icon-DCMedia-- .path5:before {
  content: "\e916";
  margin-left: -4.232421875em;
  color: rgb(43, 43, 43);
}
.icon-DCMedia-- .path6:before {
  content: "\e917";
  margin-left: -4.232421875em;
  color: rgb(234, 198, 60);
}
.icon-DCMedia-- .path7:before {
  content: "\e918";
  margin-left: -4.232421875em;
  color: rgb(45, 45, 45);
}
.icon-DCMedia-- .path8:before {
  content: "\e919";
  margin-left: -4.232421875em;
  color: rgb(234, 198, 60);
}
.icon-facebook:before {
  content: "\e908";
}
.icon-linkedin:before {
  content: "\e909";
}
.icon-twitter:before {
  content: "\e90a";
}
.icon-double-angle-pointing-to-right:before {
  content: "\e900";
}
.icon--1:before {
  content: "\e901";
}
.icon--2:before {
  content: "\e902";
}
.icon--3:before {
  content: "\e903";
}
.icon--4:before {
  content: "\e904";
}
.icon--5:before {
  content: "\e905";
  color: #a65d49;
}
.icon--6:before {
  content: "\e906";
  color: #f7f5f0;
}
.icon--7:before {
  content: "\e907";
  color: #f7f5f0;
}
