$color_1: #555;
$color_2: #666;
$color_3: #fff;
$color_4: #9D9D9D;
$color_5: #FFFFFF;
$color_6: #999999;
$color_7: #000;
$color_8: inherit;
$color_9: #333;
$color_10: #333333;
$color_11: #8f8f8f;
$color_12: #a5a5a5;
$background_color_1: #f8f8f8;
$background_color_2: #f0f0f0;
$background_color_3: #0088CC;
$border_color_1: transparent;
$border_left_color_1: #cccccc;
$border_left_color_2: #ffffff;

/*------------------------------------------------------------------
[ Shortcuts / .shortcuts ]
*/
/* General Style */
/* fix submenu bootstrap 3 */
/* постраничная навигация в гридах */
/* Override redactor styles */
/* Modal */
/* грид */
/*navbar*/
/* Начала блока комментариев */
/* Вложенные комментарии */
.form-control {
	border-radius: 0px;
}
.shortcuts {
	text-align: left;
	.shortcut {
		min-height: 114px;
		text-align: center;
		width: 114px;
		display: inline-block;
		padding: 12px 0;
		margin: 0 5px 1em;
		vertical-align: top;
		text-decoration: none;
		background: #F3F3F3;
		background-color: $background_color_1;
		border: 1px solid #ddd;
		box-sizing: border-box;
		border-radius: 5px;
		.shortcut-icon {
			width: 100%;
			margin-top: .25em;
			margin-bottom: .35em;
			font-size: 32px;
			color: $color_1;
		}
		&:hover {
			background: #E8E8E8;
			background-color: $background_color_2;
			background-repeat: repeat-x;
			.shortcut-icon {
				color: $color_2;
			}
		}
	}
	.shortcut-label {
		display: block;
		font-weight: 400;
		color: $color_2;
		margin-top: 5px;
	}
}
.grid-action-column {
	.btn-group {
		display: flex;
	}
}
.action-nav-button {
	margin-bottom: 15px;
	position: relative;
	display: inline-block;
	text-align: center;
	min-height: 114px;
	width: 114px;
	display: inline-block;
}
a.shortcut {
	position: relative;
}
#page {
	.shortcut {
		.label {
			i {
				margin-right: 2px;
				color: $color_3;
			}
		}
	}
	[class*='icon-'].icon-white {
		color: $color_3;
	}
	a {
		&:hover {
			[class*='icon-'] {
				color: $color_8;
			}
		}
	}
}
.shortcut {
	.label {
		position: absolute;
		top: 3px;
		right: 3px;
		padding: 5px;
		display: block;
		font-size: 100%;
	}
	.cn {
		display: table-cell;
		vertical-align: middle;
		text-align: center;
		width: 114px;
		height: 88px;
	}
}
.error {
	.redactor_box {
		border: 1px rgb(149, 59, 57) solid;
		-webkit-box-shadow: 0 0 6px rgb(213, 147, 146);
		-moz-box-shadow: 0 0 6px #d59392;
		box-shadow: 0 0 6px rgb(213, 147, 146);
	}
}
html {
	height: 100%;
}
body {
	height: 100%;
}
#overall-wrap {
	min-height: 100%;
	margin: 0 auto -91px;
}
.navbar {
	height: 70px;
}
.navbar-fixed-top {
	border-bottom: 2px solid #FF9600;
	z-index: 1055;
}
.navbar-fixed-bottom {
	z-index: 1055;
}
footer {
	clear: both;
	text-align: center;
	height: 91px;
	padding: 5px 0 5px;
	border-top: 1px solid #E5E5E5;
	line-height: 18px;
	color: $color_4;
	font-size: 12px;
	background: #f8f8f8;
}
#footer-guard {
	height: 120px;
}
div#page {
    margin-top: 15px;
	padding-top: 70px;
	padding-bottom: 50px;
}
.navbar-brand {
	padding: 7px 15px 15px 15px;
	padding: 7px 5px 15px 15px;
}
.nav-list {
	>li {
		margin: 0 15px;
		>a {
			color: $color_7;
			margin: 0 -15px;
		}
	}
	>.active {
		>a {
			background-color: $background_color_3;
			color: $color_5;
			&:hover {
				background-color: $background_color_3;
				color: $color_5;
			}
			&:focus {
				background-color: $background_color_3;
				color: $color_5;
			}
		}
	}
	li.nav-header {
		color: $color_6;
		margin: 0;
	}
}
.nav {
	li.nav-header {
		color: $color_6;
		margin: 0;
	}
}
.nav-header {
	display: block;
	padding: 3px 15px;
	font-size: 11px;
	font-weight: bold;
	line-height: 20px;
	text-transform: uppercase;
}
li.nav-header {
	a {
		display: block;
		padding: 3px 15px;
		font-size: 11px;
		font-weight: bold;
		line-height: 20px;
		text-transform: uppercase;
		pointer-events: none;
		cursor: default;
		margin: 0 -15px;
		color: $color_8;
	}
}
.dropdown-submenu {
	position: relative;
	>.dropdown-menu {
		top: 0;
		left: 100%;
		margin-top: -6px;
		margin-left: -1px;
		-webkit-border-radius: 0 6px 6px 6px;
		-moz-border-radius: 0 6px 6px 6px;
		border-radius: 0 6px 6px 6px;
	}
	&:hover {
		>.dropdown-menu {
			display: block;
		}
		>a {
			&:after {
				border-left-color: $border_left_color_2;
			}
		}
	}
	>a {
		&:after {
			display: block;
			content: " ";
			float: right;
			width: 0;
			height: 0;
			border-color: $border_color_1;
			border-style: solid;
			border-width: 5px 0 5px 5px;
			border-left-color: $border_left_color_1;
			margin-top: 5px;
			margin-right: -10px;
		}
	}
}
.dropdown-submenu.pull-left {
	float: none;
	>.dropdown-menu {
		left: -100%;
		margin-left: 10px;
		-webkit-border-radius: 6px 0 6px 6px;
		-moz-border-radius: 6px 0 6px 6px;
		border-radius: 6px 0 6px 6px;
	}
}
table {
	.button-column {
		white-space: nowrap;
	}
}
.button-column {
	a {
		color: $color_9;
		text-decoration: none;
	}
}
td.toggle-column {
	a {
		color: $color_9;
		text-decoration: none;
	}
}
.table-vmiddle {
	td {
		vertical-align: middle;
	}
}
.popover {
	min-width: 300px;
}
.popover-title {
	white-space: nowrap;
}
.popover-content {
	width: 100%;
	.body {
		width: 100%;
	}
}
.datepicker {
	z-index: 100 !important;
}
.ui-sortable {
	tr {
		cursor: move;
		background: #fff;
	}
}
.nav-tabs {
	margin-bottom: 10px;
}
input.form-control[type="file"] {
	background: inherit;
}
.treeview {
	.checkbox {
		margin: 0;
	}
}
.pager-container {
	position: absolute;
	.pagination {
		margin: 26px 0 0 0;
	}
}
.redactor-toolbar-tooltip {
	z-index: 1055;
}
.modal-backdrop {
	z-index: 1057;
}
.modal {
	z-index: 1058;
}
.grid-toolbar {
	height: 40px;
	padding-left: 0px;
}
.navbar-default {
	.navbar-nav {
		>li {
			>a {
				padding: 15px 5px;
			}
		}
	}
}
.comments-section {
	font: 13px arial, helvetica, sans-serif;
	color: $color_10;
}
.comments-section-count-feed {
	padding: 0 0 0 7px;
	font-size: 24px;
	font-weight: normal;
}
.comments-add-form {
	padding: 0 0 0 86px;
	position: relative;
	margin: 0 0 -10px 0;
}
.comments-add-text {
	textarea {
		background: #f5f5f5;
		padding: 0 15px;
		margin: 0 0 0 -34px;
		line-height: 36px;
		height: 36px;
		width: 100%;
		border: 1px solid #eeeeee;
		resize: none;
		box-shadow: -1px -1px 0 #dddddd, 1px -1px 0 #dddddd, 0px -2px 0 #c6c6c6, -1px -2px 0 #c6c6c6, 1px -2px 0 #c6c6c6;
	}
}
.comments-item {
	position: relative;
	margin: 20px 0 0 0;
}
.comments-item-avatar {
	position: absolute;
	top: 0;
	left: 0;
	width: 40px;
	height: 40px;
	img {
		width: 38px;
		height: 38px;
		border-radius: 5px;
		border: 1px solid #d6d6d6;
	}
}
.comments-add-ava {
	position: absolute;
	top: 0;
	left: 0;
	width: 40px;
	height: 40px;
	img {
		width: 38px;
		height: 38px;
		border-radius: 5px;
		border: 1px solid #d6d6d6;
	}
}
.comments-item-main {
	padding: 0 0 0 54px;
}
.comments-item-author {
	padding: 0px 0 7px 0;
	font-weight: bold;
	font-size: 15px;
	color: $color_11;
	a {
		color: $color_11;
	}
}
.comments-item-top {
	color: $color_12;
	font-size: 14px;
	a {
		color: $color_12;
		font-size: 14px;
	}
}
.comments-item-info {
	overflow: hidden;
	display: block;
}
.comments-item-date {
	padding: 0 0 0 22px;
	line-height: 20px;
	font-weight: normal;
	height: 15px;
	background: url('../images/cal-reply.png') no-repeat 0 0;
}
.comments-item-reply {
	float: right;
	padding: 0 0 0 24px;
	height: 14px;
	line-height: 14px;
	background: url('../images/cal-reply.png') no-repeat 0 -15px;
	a {
		text-decoration: underline;
		&:hover {
			text-decoration: none;
		}
	}
}
.comments-item-message {
	padding: 5px 0;
	font-size: 13px;
	color: $color_10;
	line-height: 19px;
	overflow: hidden;
}
.comments-item-child {
	background: #f5f5f5;
	margin: 10px 0 0 0;
	.comments-item-main {
		&:before {
			display: block;
			content: '';
			background: url('../images/comment-marker.png') no-repeat;
			width: 34px;
			height: 13px;
			margin: -31px 0 18px 0;
		}
		margin: 18px 20px;
		padding: 18px 0 10px 54px;
	}
	.comments-item-avatar {
		left: 20px;
		top: 18px;
	}
	.comments-item-date {
		background-position: 0 -29px;
	}
}
.preview-image-wrapper {
	display: inline-block;
	position: relative;
	button {
		opacity: 0.9;
	}
	.dropdown-menu {
		min-width: 350px;
	}
}
.image-settings {
	position: absolute;
	top: 10px;
	right: 5px;
	z-index: 99;
}
.btn-group {
	.btn {
		margin-left: -1px;
	}
}
#news-form {
	.ct-form-control {
		min-width: 100px;
	}
}
.grid-view {
	.headline {
		float: right;
		margin-top: 26px;
	}
	.grid-toolbar {
		padding-right: 0;
		button {
			float: right;
		}
		#copy-products {
			margin-right: 8px !important;
		}
	}
}
